/* Link styles */


a:not(.button):hover {
    color: #999;
}
input[type="submit"], .button {
    color: #FFF;
    background: #447F88; }
#home-signup .button {
    color: #222;
    background: #F6FF00; }
input[type="submit"]:hover,
.button:hover,
#home-signup .button:hover {
    color: #FFF;
    background: #111; }
.button.button-padded {
    padding: 1.3rem 46px;
    font-size: 1.6rem; }
.menu-main a {
    border-bottom: 3px solid transparent;
    color: #FFF; }
.menu-main a:hover, .menu-main a:focus {
    border-bottom: 3px solid #B1FCFF;
    color: #B1FCFF; }

/* Emphasize footer sign-up link */

#nav-menu-item-94 a {
    color: #6BA2AE; }
#nav-menu-item-94 a:hover {
    color: #000; }

strong {
    font-size: 1.6rem;
}

/* Make home page banner image transparent */

.block-intro__backdrop {
    background: #111; }
.block-intro__backdrop img {
    opacity: .85; }


/* Site width and home page gutter */
@media (min-width: 960px) {
    .container-gr {
        max-width: 1300px; }
    .landing-home .block-landing .row div:first-child {
        padding-right: 2%; }
    .landing-home .block-landing .row div:last-child {
        padding-left: 2%; }
    .block-landing__post {
        max-width: 100%; }
}


/* Add extra vertical space between video, text and buttons */
.block-landing__post-video,
.block-landing__post-preview p:first-child {
    margin: 10px 0 4rem; }
.block-landing__post-preview .button.button-padded {
    margin: 0 .5rem 1rem 0;
    text-align: center; }
@media (max-width: 480px) {
    .block-landing__post-preview .button.button-padded {
        display: table;
        margin: 0 auto 1rem; }
}

/* Make home page tagline bigger */
@media (min-width: 48em) {
    .block-intro__heading {
        font-size: 4.2rem;
    }
}

/* Darken home page form background */

.block-intro__form {
    background: rgba(190, 190, 190, 0.8);
}
/* Facebook feed styling */
.block-landing__post-preview #cff .cff-header {
    font-family: "Alfa Slab One", cursive;
    font-weight: normal;
    letter-spacing: .04em;
    padding-bottom: 15px;
    line-height: 28px;
    border-bottom: 7px solid #3F77DD;
}
.block-landing__post-preview #cff .cff-header span {
    display: inline-block;
    vertical-align: middle;
}
.block-landing__post-preview #cff .cff-header .fa-facebook {
    margin-right: 21px;
    vertical-align: middle;
}
.block-landing__post-preview #cff a .cff-page-name {
    color: #000 !important; }
.block-landing__post-preview #cff a:hover .cff-page-name {
    color: #6BA2AE !important; }
#cff .cff-author {
    margin-bottom: 5px; }
.cff-text {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 1.4; }
@media (min-width: 960px) {
    .block-landing__post-preview .cff-wrapper {
        max-height: 880px;
        overflow-y: scroll; }
}
