/* Load LESS Variables */
/* VARIABLES */
/* Fonts */
/* Colors */
/* LANDING PAGE */
.landing-stream .stream-item h1.title {
  font-size: 80px;
  line-height: 1;
}
@media (max-width: 600px) {
  .landing-stream .stream-item h1.title {
    font-size: 60px;
  }
}
.landing-stream .stream-item h2 {
  font-family: 'u.s._101regular', serif;
  font-weight: normal;
}
.landing-stream .stream-item .item-body p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
.landing-stream .stream-item .module-stream p {
  font-weight: 400;
}
.landing-stream .stream-item .quote {
  font-weight: 300;
  font-size: 55px;
}
@media (max-width: 999px) {
  .landing-stream .stream-item .quote {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .landing-stream .stream-item .quote {
    font-size: 40px;
  }
}
.landing-stream .stream-item .citation {
  font-size: 18px;
}
@media (max-width: 999px) {
  .landing-stream .stream-item .citation {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .landing-stream .stream-item .citation {
    font-size: 14px;
  }
}
.landing-stream .stream-item .btn.btn-cta {
  background: none;
  color: #FF7A65;
  border: 2px solid #FF7A65;
}
.landing-stream .stream-item .btn.btn-cta:hover {
  color: #FFF;
  background: #FF7A65;
}
/* Home Page Slideshow */
#landing-item-38717 .item-vertical-padding {
  padding-top: 0;
}
#landing-item-38717 .item-vertical-padding h2.title {
  font-family: 'Roboto Slab', serif;
  text-transform: none;
  font-weight: 300;
  font-size: 30px;
}
#landing-item-38717 .item-vertical-padding .text-wrapper .btn,
#landing-item-38717 .item-vertical-padding .text-wrapper .btn-more,
#landing-item-38717 .item-vertical-padding .text-wrapper .btn:link,
#landing-item-38717 .item-vertical-padding .text-wrapper .btn-more:link,
#landing-item-38717 .item-vertical-padding .text-wrapper .btn:visited,
#landing-item-38717 .item-vertical-padding .text-wrapper .btn-more:visited,
#landing-item-38717 .item-vertical-padding .text-wrapper .btn:active,
#landing-item-38717 .item-vertical-padding .text-wrapper .btn-more:active {
  background: none;
  color: #FFF;
  border: 2px solid #FFF;
}
#landing-item-38717 .item-vertical-padding .text-wrapper .btn:hover,
#landing-item-38717 .item-vertical-padding .text-wrapper .btn-more:hover {
  color: #111;
  background: #FFF;
  border: 2px solid #FFF;
}
/* Home Page Intro Module */
#landing-item-38720 p {
  max-width: 880px;
}
#landing-item-38720 .covered-by {
  margin-top: 50px;
  padding-top: 50px;
  /* Logo 1 animation */
}
#landing-item-38720 .covered-by h4 {
  margin: 0 0 30px;
}
@keyframes coveredByWhites {
  /* Fade out */
  0% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  /* Fade in */
  46% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  /* Fade out */
  52% {
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  /* Fade out */
  93% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes coveredByLogos {
  /* Fade in */
  0% {
    background-position: left top;
  }
  /* Move logo while faded out */
  50% {
    background-position: left top;
  }
  50.01% {
    background-position: left top;
  }
  50.02% {
    background-position: left bottom;
  }
  100% {
    background-position: left bottom;
  }
}
#landing-item-38720 .covered-by .press-logo-background {
  animation: coveredByLogos 14s infinite;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/covered-by-logos.png') no-repeat;
  background-size: 100%;
}
#landing-item-38720 .covered-by .logo-column {
  animation: coveredByWhites 14s infinite;
  float: left;
  height: 50px;
  opacity: 0;
  background: #FFF;
}
@media (max-width: 1050px) {
  #landing-item-38720 .covered-by .logo-column {
    height: 40px;
  }
}
@media (max-width: 850px) {
  #landing-item-38720 .covered-by .logo-column {
    height: 30px;
  }
}
@media (max-width: 767px) {
  #landing-item-38720 .covered-by .logo-column {
    height: 60px;
  }
}
@media (max-width: 600px) {
  #landing-item-38720 .covered-by .logo-column {
    height: 40px;
  }
}
@media (max-width: 380px) {
  #landing-item-38720 .covered-by .logo-column {
    height: 30px;
  }
}
@media (max-width: 320px) {
  #landing-item-38720 .covered-by .logo-column {
    height: 26px;
  }
}
#landing-item-38720 .covered-by .logo1 {
  animation-delay: 0.05s;
  width: 15.4%;
}
#landing-item-38720 .covered-by .logo2 {
  animation-delay: 0.1s;
  width: 13.8%;
}
#landing-item-38720 .covered-by .logo3 {
  animation-delay: 0.15s;
  width: 14%;
}
#landing-item-38720 .covered-by .logo4 {
  animation-delay: 0.2s;
  width: 9.4%;
}
#landing-item-38720 .covered-by .logo5 {
  animation-delay: 0.25s;
  width: 12%;
}
#landing-item-38720 .covered-by .logo6 {
  animation-delay: 0.3s;
  width: 11.5%;
}
#landing-item-38720 .covered-by .logo7 {
  animation-delay: 0.35s;
  width: 12.5%;
}
#landing-item-38720 .covered-by .logo8 {
  animation-delay: 0.35s;
  width: 11.4%;
}
@media (max-width: 767px) {
  #landing-item-38720 .covered-by .press-logo-background {
    animation: coveredByLogos 14s infinite;
    background-size: 200%;
  }
  #landing-item-38720 .covered-by .logo1 {
    width: 29.3%;
  }
  #landing-item-38720 .covered-by .logo2 {
    width: 26.4%;
  }
  #landing-item-38720 .covered-by .logo3 {
    width: 26.5%;
  }
  #landing-item-38720 .covered-by .logo4 {
    width: 17.8%;
  }
  #landing-item-38720 .covered-by .logo5 {
    width: 25%;
    background-position: -50% top;
  }
  #landing-item-38720 .covered-by .logo6 {
    width: 24.5%;
    background-position: -50% top;
  }
  #landing-item-38720 .covered-by .logo7 {
    width: 26%;
    background-position: -50% top;
  }
  #landing-item-38720 .covered-by .logo8 {
    width: 24.3%;
    background-position: -50% top;
  }
}
/* Home Page Problem Module */
#landing-item-38721 .item-body {
  padding-bottom: 60px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/Triple-Star-Salmon.png') no-repeat center bottom;
  background-size: 83px;
}
/* Home Page Solution Module */
#landing-item-38723 .item-vertical-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 959px) {
  #landing-item-38723 .item-vertical-padding {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
#landing-item-38723 h1 {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/flag.png') no-repeat left center;
  background-size: 88px;
}
@media (max-width: 600px) {
  #landing-item-38723 h1 {
    padding: 0 0 70px;
    background-position: center bottom;
    background-size: 88px;
  }
}
#landing-item-38723 h4 {
  margin-top: 60px;
}
/* Home Page What You Can Do Module */
#landing-item-38732 {
  padding-top: 0;
}
#landing-item-38732 .st-card-wrapper {
  margin-top: 0;
}
#landing-item-38732 .btn.btn-cta {
  font-size: 13px;
}
@media (max-width: 959px) {
  #landing-item-38732 .btn.btn-cta {
    font-size: 11px;
  }
}
/* Home Page Event Module */
#landing-item-38734 h4 {
  display: table;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 2px;
}
#landing-item-38734 h4::before {
  margin: 0 12px 0 0;
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 36px;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}
#landing-item-38734 h4::after {
  margin: 0 0 0 12px;
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 36px;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}
#landing-item-38734 h1 {
  margin: 36px 0;
}
#landing-item-38734 h1::after {
  display: table;
  content: '';
  margin: 30px auto 0;
  width: 60%;
  height: 70px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/bunting.png') repeat-x left center;
  background-size: 33.33%;
}
#landing-item-38734 p.description {
  color: #4D4D4D;
  font-size: 30px;
  font-weight: 400;
}
@media (max-width: 999px) {
  #landing-item-38734 p.description {
    font-size: 22px;
  }
}
#landing-item-38734 p.details {
  font-size: 15px;
}
/* Home Page Candidates */
#landing-item-38735 h1.title {
  margin-bottom: 20px;
}
#landing-item-38735 h3.subtitle {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 0;
}
#landing-item-38735 .projector.multiples.HTML-carousel.image-ratio-square .projector-mask {
  padding-bottom: 90px;
}
#landing-item-38735 .projector.multiples.HTML-carousel.image-ratio-square .projector-mask::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 40px;
  content: '';
  width: 100%;
  height: 2px;
  border-top: 2px solid #E5E5E5;
}
@media (max-width: 999px) {
  #landing-item-38735 .projector.multiples.HTML-carousel.image-ratio-square .projector-mask::after {
    border: none;
  }
}
#landing-item-38735 .projector .image-wrapper {
  margin-top: 40px;
}
#landing-item-38735 .projector .item-wrapper .item-body {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
#landing-item-38735 .projector .item-wrapper .item-body p {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
#landing-item-38735 .projector .item-wrapper .item-body .district {
  color: #FF7A65;
}
#landing-item-38735 .projector .item-wrapper .subtitle {
  display: block;
  font-weight: 400;
  font-size: 11px;
  color: #737373;
  letter-spacing: 1px;
}
@media (max-width: 999px) {
  #landing-item-38735 .projector .item-wrapper .subtitle {
    font-size: 10px;
  }
}
#landing-item-38735 .btn.btn-cta {
  padding: 12px 40px;
  font-size: 18px;
  color: #111;
  border-color: #111;
}
@media (max-width: 959px) {
  #landing-item-38735 .btn.btn-cta {
    padding: 10px 30px;
    font-size: 15px;
  }
}
#landing-item-38735 .btn.btn-cta:hover {
  color: #FF7A65;
  background: none;
  border-color: #FF7A65;
}
/* Home Page Off the Press */
#off-the-press {
  text-align: left;
}
#off-the-press .home-press-container {
  margin: 0 -14px;
}
@media (max-width: 767px) {
  #off-the-press .home-press-container {
    margin: 0;
  }
}
#off-the-press .press-column {
  float: left;
  width: 33.333%;
  padding: 0 14px;
}
@media (max-width: 767px) {
  #off-the-press .press-column {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
}
#off-the-press h1 {
  text-align: center;
}
#off-the-press h2 {
  margin: 0 0 22px 0;
  padding-bottom: 10px;
  color: #141414;
  font-size: 30px;
  border-bottom: 1px solid #141414;
}
@media (min-width: 601px) and (max-width: 959px) {
  #off-the-press h2 {
    font-size: 22px;
  }
}
#off-the-press .press-action {
  text-align: right;
}
#off-the-press .press-action a {
  display: inline-block;
  padding-bottom: 4px;
  color: 'Roboto Slab', serif;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid #999;
}
#off-the-press .press-action a:hover {
  color: #141414;
  border-color: #141414;
}
#off-the-press .home-news .date {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 3;
  display: table;
  margin-left: -4px;
  padding: 2px 6px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
}
#off-the-press .home-news h3 {
  margin-bottom: 12px;
  color: #141414;
  font-size: 26px;
  font-family: 'Roboto Slab', serif;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
}
@media (min-width: 601px) and (max-width: 959px) {
  #off-the-press .home-news h3 {
    font-size: 18px;
  }
}
#off-the-press .home-news p {
  font-family: 'Roboto', sans-serif;
}
#off-the-press .home-news .image-container {
  margin-bottom: 0;
}
#off-the-press .home-news .image-container.has-caption .image-gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100px;
  opacity: 0.6;
  background: linear-gradient(rgba(0, 0, 0, 0), #000000);
}
#off-the-press .home-news .image-container.has-caption .caption {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  color: #FFF;
  padding: 0 5% 10px;
}
#off-the-press .home-podcast .podcast-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D5D5D5;
}
#off-the-press .home-podcast .podcast-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
#off-the-press .home-podcast .podcast-image {
  margin-right: 20px;
}
#off-the-press .home-podcast .podcast-date {
  margin: 0 0 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}
#off-the-press .home-podcast .podcast-title {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: bold;
}
#off-the-press .home-podcast .podcast-title a {
  color: #141414;
}
#off-the-press .home-podcast .podcast-title a:hover {
  color: #7932AC;
}
#off-the-press .home-twitter md-icon {
  width: 33px;
  height: unset;
}
#off-the-press .home-twitter md-icon svg g {
  fill: #7932AC;
}
/* Home Page Quote Image */
#landing-item-38733.parallax-wrapper .item-vertical-padding,
#landing-item-38733 .stream-item.has-background-image .item-vertical-padding {
  padding-top: 220px;
  padding-bottom: 220px;
}
@media (max-width: 999px) {
  #landing-item-38733.parallax-wrapper .item-vertical-padding,
  #landing-item-38733 .stream-item.has-background-image .item-vertical-padding {
    padding-top: 190px;
    padding-bottom: 190px;
  }
}
@media (max-width: 768px) {
  #landing-item-38733.parallax-wrapper .item-vertical-padding,
  #landing-item-38733 .stream-item.has-background-image .item-vertical-padding {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}
#landing-item-38733.stream-item .btn.btn-cta {
  color: #FFF;
  border: 2px solid #FFF;
}
#landing-item-38733.stream-item .btn.btn-cta:hover {
  background: #FF7A65;
  color: #FFF;
  border: 2px solid #FF7A65;
}
/*# sourceMappingURL=landing.css.map */