/* Load LESS Variables */
@import "variables.less";




/* LANDING PAGE */


.landing-stream {
  .stream-item {
    h1.title {
      font-size: 80px;
      line-height: 1;
      @media (max-width: 600px) {
        font-size: 60px;
      }
    }
    h2 {
      font-family: @font-secondary;
      font-weight: normal;
    }
    .item-body p {
      font-family: @font-primary;
      font-weight: 300;
    }
    .module-stream p {
      font-weight: 400;
    }
    .quote {
      font-weight: 300;
      font-size: 55px;
      @media (max-width: 999px) {
        font-size: 45px;
      }
      @media (max-width: 768px) {
        font-size: 40px;
      }
    }
    .citation {
      font-size: 18px;
      @media (max-width: 999px) {
        font-size: 15px;
      }
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    .btn.btn-cta {
      background: none;
      color:  @color-pop;
      border: 2px solid @color-pop;
      &:hover {
        color: #FFF;
        background:  @color-pop;
      }
    }
    //&.parallax-wrapper,
    //.stream-item.has-background-image {
    //  .item-vertical-padding {
    //    padding-top: 160px;
    //    padding-bottom: 160px;
    //  }
    //  .btn.btn-cta {
    //    color: #FFF;
    //    border: none;
    //    background: @color-pop;
    //    &:hover {
    //      color: @color-pop;
    //      background: #FFF;
    //      border: none;
    //    }
    //  }
    //}
  }
}


/* Home Page Slideshow */
#landing-item-38717 .item-vertical-padding {
  padding-top: 0;
  h2.title {
    font-family: @font-primary;
    text-transform: none;
    font-weight: 300;
    font-size: 30px;
  }
  .text-wrapper {
    .btn,
    .btn-more {
      &,
      &:link,
      &:visited,
      &:active {
        background: none;
        color: #FFF;
        border: 2px solid #FFF;
      }
      &:hover {
        color: #111;
        background: #FFF;
        border: 2px solid #FFF;
      }
    }
  }
}


/* Home Page Intro Module */

#landing-item-38720 {
  p {
    max-width: 880px;
  }
  .covered-by {
    margin-top: 50px;
    padding-top: 50px;
    h4 {
      margin: 0 0 30px;
    }


    /* Logo 1 animation */
    @keyframes coveredByWhites {
      /* Fade out */
      0% {
        opacity: 1;
      }
      6% {
        opacity: 0;
      }

      /* Fade in */
      46% {
        opacity: 0;
      }
      48% {
        opacity: 1;
      }


      /* Fade out */
      52% {
        opacity: 1;
      }
      54% {
        opacity: 0;
      }


      /* Fade out */
      93% {
        opacity: 0;
      }
      97% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes coveredByLogos {
      /* Fade in */
      0% {
        background-position: left top;
      }
      /* Move logo while faded out */
      50% {
        background-position: left top;
      }
      50.01% {
        background-position: left top;
      }
      50.02% {
        background-position: left bottom;
      }
      100% {
        background-position: left bottom;
      }
    }

    .press-logo-background {
      animation: coveredByLogos 14s infinite;
      background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/covered-by-logos.png') no-repeat;
      background-size: 100%;
    }
    .logo-column {
      animation: coveredByWhites 14s infinite;
      float: left;
      height: 50px;
      opacity: 0;
      background: #FFF;
      @media (max-width: 1050px) {
        height: 40px;
      }
      @media (max-width: 850px) {
        height: 30px;
      }
      @media (max-width: 767px) {
        height: 60px;
      }
      @media (max-width: 600px) {
        height: 40px;
      }
      @media (max-width: 380px) {
        height: 30px;
      }
      @media (max-width: 320px) {
        height: 26px;
      }
    }
    .logo1 {
      animation-delay: .05s;
      width: 15.4%;
    }
    .logo2 {
      animation-delay: .1s;
      width: 13.8%;
    }
    .logo3 {
      animation-delay: .15s;
      width: 14%;
    }
    .logo4 {
      animation-delay: .2s;
      width: 9.4%;
    }
    .logo5 {
      animation-delay: .25s;
      width: 12%;
    }
    .logo6 {
      animation-delay: .3s;
      width: 11.5%;
    }
    .logo7 {
      animation-delay: .35s;
      width: 12.5%;
    }
    .logo8 {
      animation-delay: .35s;
      width: 11.4%;
    }
    @media (max-width: 767px) {
      .press-logo-background {
        animation: coveredByLogos 14s infinite;
        background-size: 200%;
      }
      .logo1 {
        width: 29.3%;
      }
      .logo2 {
        width: 26.4%;
      }
      .logo3 {
        width: 26.5%;
      }
      .logo4 {
        width: 17.8%;
      }

      .logo5 {
        width: 25%;
        background-position: -50% top;
      }
      .logo6 {
        width: 24.5%;
        background-position: -50% top;
      }
      .logo7 {
        width: 26%;
        background-position: -50% top;
      }
      .logo8 {
        width: 24.3%;
        background-position: -50% top;
      }
    }
  }
}

/* Home Page Problem Module */
#landing-item-38721 {
  .item-body {
    padding-bottom: 60px;
    background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/Triple-Star-Salmon.png') no-repeat center bottom;
    background-size: 83px;
  }
}


/* Home Page Solution Module */
#landing-item-38723 {
  .item-vertical-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    @media (max-width: 959px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }
  h1 {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/flag.png') no-repeat left center;
    background-size: 88px;
    @media (max-width: 600px) {
      padding: 0 0 70px;
      background-position: center bottom;
      background-size: 88px;
    }
  }
  h4 {
    margin-top: 60px;
  }
}

/* Home Page What You Can Do Module */
#landing-item-38732 {
  padding-top: 0;
  .st-card-wrapper {
    margin-top: 0;
  }
  .btn.btn-cta {
    font-size: 13px;
    @media (max-width: 959px) {
      font-size: 11px;
    }
  }
}

/* Home Page Event Module */
#landing-item-38734 {
  h4 {
    display: table;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 2px;
    &::before {
      margin: 0 12px 0 0;
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 36px;
      height: 1px;
      border-top: 1px solid rgba(0,0,0,.6);
    }
    &::after {
      margin: 0 0 0 12px;
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 36px;
      height: 1px;
      border-top: 1px solid rgba(0,0,0,.6);
    }
  }
  h1 {
    margin: 36px 0;
    &::after {
      display: table;
      content: '';
      margin: 30px auto 0;
      width: 60%;
      height: 80px;
      background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/bunting.png') repeat-x left center;
      background-size: 33.33%;
    }
  }
  p.description {
    color: #4D4D4D;
    font-size: 30px;
    font-weight: 400;
    @media (max-width: 999px) {
      font-size: 22px;
    }
  }
  p.details {
    font-size: 15px;
  }
}

/* Home Page Candidates */

#landing-item-38735 {
  h1.title {
    margin-bottom: 20px;
  }
  h3.subtitle {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 0;
  }
  .projector {
    &.multiples.HTML-carousel.image-ratio-square .projector-mask {
      padding-bottom: 90px;
      &::after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 40px;
        content: '';
        width: 100%;
        height: 2px;
        border-top: 2px solid #E5E5E5;
        @media (max-width: 999px) {
          border: none;
        }
      }
    }
    .image-wrapper {
      margin-top: 40px;
    }
    .item-wrapper {
      .item-body {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        p {
          font-size: 13px;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
        }
        .district {
          color: @color-pop;
        }
      }
      .subtitle {
        display: block;
        font-weight: 400;
        font-size: 11px;
        color: #737373;
        letter-spacing: 1px;
        @media (max-width: 999px) {
          font-size: 10px;
        }
      }
    }
  }
  .btn.btn-cta {
    padding: 12px 40px;
    font-size: 18px;
    color: #111;
    border-color: #111;
    @media (max-width: 959px) {
      padding: 10px 30px;
      font-size: 15px;
    }
    &:hover {
      color: @color-pop;
      background: none;
      border-color: @color-pop;
    }
  }
}

/* Home Page Off the Press */

#off-the-press {
  text-align: left;
  .home-press-container {
    margin: 0 -14px;
    @media (max-width: 767px) {
      margin: 0;
    }
  }
  .press-column {
    float: left;
    width: 33.333%;
    padding: 0 14px;
    @media (max-width: 767px) {
      width: 100%;
      padding: 0;
      margin-bottom: 40px;
    }
  }
  h1 {
    text-align: center;
  }
  h2 {
    margin: 0 0 22px 0;
    padding-bottom: 10px;
    color: @color-dark;
    font-size: 30px;
    border-bottom: 1px solid @color-dark;
    @media (min-width: 601px) and (max-width: 959px) {
      font-size: 22px;
    }
  }
  .press-action {
    text-align: right;
    a {
      display: inline-block;
      padding-bottom: 4px;
      color: @font-primary;
      font-family: @font-primary;
      font-weight: bold;
      font-size: 12px;
      border-bottom: 1px solid #999;
      &:hover {
        color: @color-dark;
        border-color: @color-dark;
      }
    }
  }
  .home-news {
    .date {
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 3;
      display: table;
      margin-left: -4px;
      padding: 2px 6px;
      color: #FFF;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: bold;
    }
    h3 {
      margin-bottom: 12px;
      color: @color-dark;
      font-size: 26px;
      font-family: @font-primary;
      text-transform: none;
      font-weight: normal;
      letter-spacing: normal;
      @media (min-width: 601px) and (max-width: 959px) {
        font-size: 18px;
      }
    }
    p {
      font-family: @font-body;
    }
    .image-container {
      margin-bottom: 0;
      &.has-caption {
        .image-gradient {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          height: 100px;
          opacity: .6;
          background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
        }
        .caption {
          font-family: @font-body;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          z-index: 10;
          color: #FFF;
          padding: 0 5% 10px;
        }
      }
    }
  }
  .home-podcast {
    .podcast-item {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #D5D5D5;
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
    .podcast-image {
      margin-right: 20px;
    }
    .podcast-date {
      margin: 0 0 4px;
      font-family: @font-tertiary;
      font-size: 11px;
      font-weight: normal;
      text-transform: uppercase;
    }
    .podcast-title {
      margin: 0;
      font-family: @font-primary;
      font-size: 14px;
      font-weight: bold;
      a {
        color: @color-dark;
        &:hover {
          color: @color-primary;
        }
      }
    }
  }
  .home-twitter {
    md-icon {
      width: 33px;
      height: unset;
      svg g {
        fill: @color-primary;
      }
    }
  }
}

/* Home Page Quote Image */
#landing-item-38733 {
  &.parallax-wrapper .item-vertical-padding,
  .stream-item.has-background-image .item-vertical-padding {
    padding-top: 220px;
    padding-bottom: 220px;
    @media (max-width: 999px) {
      padding-top: 190px;
      padding-bottom: 190px;
    }
    @media (max-width: 768px) {
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &.stream-item .btn.btn-cta {
    color: #FFF;
    border: 2px solid #FFF;
    &:hover {
      background: #FF7A65;
      color: #FFF;
      border: 2px solid #FF7A65;
    }
  }
}