/* LOAD FONTS */
@import '//fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:100,300,400,700';

@font-face {
    font-family: 'u.s._101regular';
    src: url('fonts/us101-webfont.woff2') format('woff2'),
    url('fonts/us101-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* move to core */


.headerImage,
#shellContent {
    transition: all .2s ease-out;
    transform: scale(.95);
    transform-origin: center top;
    opacity: 0;
    overflow: hidden;
}
.loaded .headerImage,
.loaded #shellContent {
    transform: scale(1);
    opacity: 1;
}
#shellContent {
    transition-delay: .2s;
}


.positionLeftTop {
    position: absolute;
    top: 0;
    left: 0;
}
.positionLeftCenter {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}
.positionLeftBottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.positionRightTop {
    position: absolute;
    top: 0;
    right: 0;
}
.positionRightCenter {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
}
.positionRightBottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
.positionAll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.alignCenter {
    text-align: center;
}



/* BODY */

body {
    position: relative;
    background: #111;
}
body, p {
    font-size: 15px;
    color: #3E3E3E;
}

/* LINKS & BUTTONS */

a:link, a:visited, a:active{
    color: #7932AC;
}
a:hover {
    color: #888;
}
.btn,
.btn:link,
.btn:visited,
.btn:active {
    padding: 9px 14px;
    font-size: 14px;
    color: #FFF;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #7932AC;
}
.btn:hover {
    background-color: #222;
}


/* TITLES & HEADERS */

h1 {
    color: #141414;
    font-size: 46px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .02em;
}
h2 {
    margin-bottom: 36px;
    text-transform: uppercase;
    color: #323232;
    font-size: 20px;
    font-weight: bold;
}
h3 {
    color: #333;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    color: #000;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .25em;
}
@media (max-width:768px) {
    h1 {
        font-size: 40px;
    }
}

/* STANDARD TEXT STYLES */

.pullout {
    color: #363636;
    font-weight: 300;
    font-size: 26px;
    line-height: 1.5;
}
.pullout:first-child {
    margin-top: -5px;
}
.smallLabel {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: .1em;
}
.bodyLarge,
.bodyLarge p {
    font-size: 26px;
    font-weight: 300;
}

@media (max-width:960px) {
    .bodyLarge {
        font-size: 22px;
    }
}




/* ASSIGN FONTS */

/* .primaryFont will be used for the site's typographical logo and some site headers. It must also be legible at small sizes.  */

h1,
.fontPrimary,
.fontPrimary p {
    font-family: 'u.s._101regular';
}
h2,
.fontSecondary,
.fontSecondary p,
.fontBody,
.fontBody p,
.pullout,
.btn,
.moduleContainer h2,
p {
    font-family: 'Roboto Slab', serif;
}
.fontTertiary,
h3,
h4,
.smallLabel {
    font-family: 'Raleway', sans-serif;
}


/* SOCIAL */

.socialMedia a {
    margin-right: 2px;
    width: 38px;
    height: 38px;
    border: 1px solid #565656;
    border-radius: 50%;
}
.socialMedia a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
}
.socialMedia a:hover {
    background: #598089;
    border: 2px solid #598089;
}
.socialMedia a:hover svg g {
    fill: #FFF;
}

/* BACKGROUNDS */

#siteBackground {
    background: #FFF;
}

/* This color is used for header bars and date boxes and must be dark enough to read reversed text in. */
.backgroundAccentColor {
    background-color: #F94E54;
}
.backgroundDark {
    background: #141414;
}
.backgroundDark a:hover {
    color: #FFF;
}
.backgroundPriority {
    background: #FE7C57;
}


/* BORDERS */

hr {
    margin-top: 26px;
    padding-top: 26px;
    border: none;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedBold.png') repeat-x;
    background-size: 8px;
}
.borderDashed {
    margin-top: 20px;
    padding-top: 20px;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashed.png') repeat-x;
    background-size: 6px;
}
.borderDashedLight {
    margin-top: 20px;
    padding-top: 20px;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedLight.png') repeat-x;
    background-size: 6px;
}
.borderDashedVertical {
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedVertical.png') repeat-y;
    background-size: 1px;
}
.borderDashedBold {
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedBold.png') repeat-x;
    background-size: 8px;
}


/* COLORS (In order of most to least commonly used) */

.purple {
    background: #7932AC;
}
.purpleText {
    color: #7932AC;
}
.blue {
    background: #598089;
}
.blueText {
    color: #598089;
}
.salmon {
    background: #FF7A65;
}
.salmonText {
    color: #FF7A65;
}
.green {
    background: #8C8B02;
}
.greenText {
    color: #8C8B02;
}
.yellow {
    background: #FFFE00;
}
.yellowText {
    color: #FFFE00;
}


/* STARS */

.starLeft,
.starRight {
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starBlack.png') no-repeat left 8px;
    background-size: 9px;
}
.starRight {
    background-position: right 8px;
}
.starText {
    padding: 0 26px;
}
.starPurple {
    background-image: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starPurple.png');
}
.starWhite {
    background-image: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starWhite.png');
}


/* SITE STRUCTURE */

.shellVerticalPadding {
    padding-top: 60px;
    padding-bottom: 60px;
}
.siteMaxWidth {
    max-width: 1350px;
}


/* HEADER */

#header {
    animation: itemsFadeIn .5s ease-out 1s forwards;
    -webkit-animation: itemsFadeIn .5s ease-out 1s forwards;
    opacity: 0;
}
#header1 {
    margin: 60px 0 34px;
}
#planGraphic {
    margin-top: 10px;
    max-width: 274px;
}
#logoHeader img {
    margin-top: 8px;
    max-width: 210px;
}
.btn.btnContribute {
    margin-top: 14px;
    background: #393939;
}
.btn.btnContribute:hover {
    background: #598089;
}
#starLinkRight {
    display: block;
    margin-top: 42px;
    padding-right: 15px;
    text-transform: uppercase;
    letter-spacing: .11em;
    font-size: 11px;
    font-weight: bold;
    color: #598089;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starBlue.png') no-repeat right center;
    background-size: 9px;
}
#starLinkRight:hover {
    color: #000;
}
#header2 {
    padding: 17px 0;
    border-top: 3px solid #222;
    border-bottom: 1px solid #9B9B9B;
}
.headerOrnament {
    width: 4px;
    height: 18px;
}
/* Hide left ornament while identical contact link ornament is visible */
.headerOrnament.centerLeft {
    display: none;
}
.headerOrnament .square {
    position: absolute;
    left: 0;
    height: 4px;
    width: 4px;
    background: #7932AC;
}
.headerOrnament .square1 {
    top: 0;
}
.headerOrnament .square2 {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
}
.headerOrnament .square3 {
    top: 14px;
}
#headerContact a:hover .square1,
#headerContact a:hover .square3 {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    background: #000;
}
#headerContact a .btnText {
    padding-left: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #5F2787;
}
#headerContact a:hover .btnText {
    color: #000;
}
#navMainContainer ul li {
    vertical-align: top;
    padding: 0;
}
#navMainContainer .delimiter {
    width: 40px;
    text-align: center;
}
#navMainContainer .delimiter img {
    margin-top: 13px;
    width: 17px;
}
.navMainLink a {
    padding: 0;
    color: #121212;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .01em;
}
.navMainLink a:hover {
    color: #7932AC;
}
#navHelp {
    margin-right: -4px;
}
#headerSocial {
    right: 20px;
}
#headerSocial .socialMedia {
    margin: 4px 0 0 0;
}




@media (max-width:991px) {

    /* temporary */
    #mainNavigationHeader {
        display: block;
    }
    /* end temporary */
    .sidebarToggle  {
        top: 50px;
        right: inherit;
        left: 7%;
    }
}
@media (max-width:959px) {
    #header1 {
        margin-top: 40px;
    }
    #planGraphic,
    #starLinkRight {
        display: none;
    }
    #headerExtraLinks {
        top: 0;
        bottom: inherit;
    }
    .btn.btnContribute {
        margin-top: 0;
        padding: 5px 8px;
        font-size: 11px;
    }
    #navMainContainer .delimiter {
        width: 30px;
        text-align: center;
    }
    #navMainContainer .delimiter img {
        margin-top: 13px;
        width: 10px;
    }
    .navMainLink a {
        font-size: 30px;
    }
}
@media (max-width:840px) {
    #header2 {
        padding: 8px 0;
        border-bottom: 0;
    }
    #headerContact,
    #headerSocial {
        display: none;
    }
    .sidebarToggle  {
        top: 30px;
    }
    #navMainContainer,
    .headerOrnament {
        display: none;
    }
}
@media (max-width:600px) {
    .btn.btnContribute {
        transform: translateY(-10px);
        padding: 3px 4px;
        font-size: 9px;
    }
}
@media (max-width:480px) {
    #logoHeader img {
        margin-top: 22px;
    }
    .headerOrnament,
    .headerOrnament.centerLeft {
        display: none;
    }
}



/* RETRACTING HEADER */

#headerRetracting,
#headerMini {
    padding: 14px 0;
    box-shadow: 0 1px 6px rgba(33,33,33,.1);
    border-bottom: 1px solid #DDD;
}
#headerRetracting #logoRetractingHeader,
#headerMini #logoRetractingHeader {
    left: 40px;
    max-width: 220px;
}
#headerRetracting #navMainContainer,
#headerMini #navMainContainer {
    margin-top: 2px;
}
#headerRetracting .navMainLink a,
#headerMini .navMainLink a {
    font-size: 22px;
}
#headerRetracting #navMainContainer .delimiter,
#headerMini #navMainContainer .delimiter{
    width: 28px;
    text-align: center;
}
#headerRetracting #navMainContainer .delimiter img,
#headerMini #navMainContainer .delimiter img {
    margin-top: 5px;
    width: 11px;
}
#headerRetracting #retractingContribute,
#headerMini #retractingContribute {
    right: 40px;
}
#headerRetracting #retractingContribute .btn,
#headerMini #retractingContribute .btn {
    margin: 0;
    padding: 5px 12px;
    font-size: 11px;
}
@media (max-width:991px) {
    #headerRetracting .sidebarToggle,
    #headerMini .sidebarToggle {
        top: 32px;
    }
}
@media (max-width:960px) {
    #headerRetracting,
    #headerMini {
        height: 90px;
    }
}
@media (max-width:600px) {
    #headerRetracting #logoHeader,
    #headerMini #logoHeader {
        margin: 4px 0;
        max-width: 100px;
    }
}





/* SHELL SIDEBAR */

#shellSidebar .borderDashed {
    margin: 0;
    padding: 0;
    height: 1px;
    opacity: .5;
}
h2.sectionName {
    margin: 0 0 28px;
    font-size: 22px;
    font-weight: 400;
}

/* Temporary classes - remove when links are dynamic */
#siteNavigationSidebar ul {
    padding: 28px 0;
}
/* End temporary classes */


.siteNavLink[data-level="2"] {
    padding: 6px 0;
}
.siteNavLink a.navLevel2 {
    transition: all .28s ease-out;
    transform: translateX(-18px);
    display: table;
    padding: 2px 5px 2px 20px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starPurple.png') no-repeat left 16px;
    background-size: 0;
}
.siteNavLink a.navLevel2:hover {
    transform: translateX(0);
    color: #7932AC;
    background-size: 10px;
    background-position: left 10px;
}
.siteNavLink a.navLevel2.active {
    transform: translateX(0);
    margin-bottom: 3px;
    padding: 2px 5px;
    font-weight: bold;
    color: #FFF;
    background: #7932AC;
}
.siteNavLink a.navLevel2.active:hover {
    color: #FFF;
}
@media (max-width:991px) {
    .mobileDrawer.mobileBackgroundDark {
        background: #111;
    }
    #shellSidebar .borderDashed:first-of-type {
        display: none;
    }
    h2.sectionName {
        color: #555;
    }
    #siteNavigationSidebar ul {
        padding: 10px 0;
    }
    .siteNavLink[data-level="1"] {
        padding: 20px 0 0;
    }
    .siteNavLink a.navLevel1 {
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: .01em;
        color: #FFF;
    }
    .siteNavLink a.navLevel1:hover {
        color: #CCC;
    }
    .siteNavLink[data-level="2"] {
        padding: 4px 0;
    }
    .siteNavLink a.navLevel2 {
        font-size: 15px;
    }
}



/* SHELL BODY */

#shellContent.shellVerticalPadding {
    padding-top: 50px;
}
.mainColumnGutter {
    padding-left: 9%;
}
h1#pageTitle {
    margin: 50px 0 36px;
    padding: 6px 20px;
    text-align: center;
    color: #FFF;
    font-size: 45px;
    background: #171717;
}
#pageTitle .starLeft,
#pageTitle .starRight {
    display: block;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starWhite.png') no-repeat left 17px;
    background-size: 11px;
}
#pageTitle .starRight {
    background-position: right 17px;
}
@media (max-width: 991px) {
    .mainColumnGutter {
        padding-left: 0;
    }
}
@media (max-width:840px) {
    .headerImage {
        margin-top: 10px;
    }
    h1#pageTitle {
        margin-bottom: 30px;
    }
}


/* JOIN FORMS */


md-input-container.md-default-theme .md-input,
md-input-container .md-input {
    border-color: #333;
}
/* Prompt text */
md-input-container .md-placeholder,
md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    font-size: 16px;
    color: #333;
}
/* Prompt text turns purple on click */
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
md-input-container:not(.md-input-invalid).md-input-focused label,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon
md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: #7932AC;
}
/* Input bottom border changes to purple on click */
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border-color: #7932AC;
}


.joinForm .listInline li {
    margin: 0 8px;
    vertical-align: top;
}
/* Make input containers wider */
.joinForm md-input-container {
    width: 260px;
}
/* Position circular progress bar in the middle of form */
.joinForm md-progress-circular {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
}
/* Make progress bar purple */
.joinForm md-progress-circular path {
    stroke: #7932AC;
}
/* Fade in progress bar when form starts sending */
.joinForm .sending md-progress-circular {
    animation: itemsFadeIn .2s ease-out forwards;
    opacity: 1;
}

/* Fade form out when sending */
.joinForm .sending .listInline {
    transition: all .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
}
/* Keep form faded on success */
.joinForm .sending .listInline,
.joinForm .success .listInline {
    transform: scale(.5);
    opacity: 0;
}
/* Success message */
.joinForm form .message {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    color: #7932AC;
}
@media (max-width:959px) {
    .joinForm .listInline li {
        display: block;
    }
    .joinForm .btn {
        display: table;
        margin: 20px auto 0 auto;
    }
}


/* FOOTER JOIN AREA */


#footerJoinForm {
    padding: 40px 0 10px;
}
#footerJoinForm h1 {
    margin: 8px 20px 0 0;
    font-size: 32px;
    color: #FFF;
}
#footerJoinForm .starLeft,
#footerJoinForm .starRight {
    width: 13px;
    height: 36px;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starWhite.png') no-repeat left 10px;
    background-size: 13px;
}
#footerJoinForm .starLeft {
    margin: 8px 22px 0 0;
}
#footerJoinForm .starRight {
    margin: 8px 0 0 22px;
    background-position: right 10px;
}
@media (max-width:960px) {
    #footerJoinForm {
        padding: 40px 0;
    }
    #footerJoinForm h1 {
        margin: 0 0 16px 0;
        text-align: center;
    }
}



/* FOOTER JOIN FORM */

#footerJoinForm .listInline li {
    vertical-align: top;
    margin: 0 3px;
}
#footerJoinForm md-input-container {
    margin: 0;
    width: 220px;
}
/* Input border and text */
#footerJoinForm md-input-container.md-default-theme .md-input,
#footerJoinForm md-input-container .md-input {
    padding: 0 14px;
    height: 47px;
    color: #FFF;
    border: 1px solid #FFF;
}
/* Prompt text */
#footerJoinForm md-input-container .md-placeholder,
#footerJoinForm md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    left: 12px;
    bottom: 80%;
    font-size: 20px;
    color: #FFF;
}
/* Move prompt text high enough to make room for bigger input box */
#footerJoinForm md-input-container.md-input-focused label:not(.md-no-float),
#footerJoinForm md-input-container.md-input-has-placeholder label:not(.md-no-float),
#footerJoinForm md-input-container.md-input-has-value label:not(.md-no-float) {
    transform: translate3d(-10px,-6px,0) scale(.65);
}
/* Make error message light enough to read on purple */
#footerJoinForm md-input-container.md-default-theme.md-input-invalid label,
#footerJoinForm md-input-container.md-input-invalid label,
#footerJoinForm md-input-container.md-default-theme.md-input-invalid .md-input-message-animation,
#footerJoinForm md-input-container.md-input-invalid .md-input-message-animation,
#footerJoinForm md-input-container.md-default-theme.md-input-invalid .md-char-counter,
#footerJoinForm md-input-container.md-input-invalid .md-char-counter {
    color: #FFF;
}
/* Make circular progress bar white */
#footerJoinForm md-progress-circular path {
    stroke: #FFF;
}
/* Make success message white */
#footerJoinForm .joinForm form .message {
    color: #FFF;
}
/* Submit button */
#footerJoinForm .btn {
    margin: 2px 0 0 2px;
    padding: 14px 36px;
    color: #7932AC;
    background: #FFF;
}
#footerJoinForm .btn:hover {
    color: #FFF;
    background: #222;
}

@media (max-width:960px) {
    #footerJoinForm .listInline li {
        display: block;
    }
    #footerJoinForm .listInline li:first-child,
    #footerJoinForm .listInline li:last-child {
        display: none;
    }
    #footerJoinForm .btn {
        display: table;
        margin: 0 auto;
    }
}




/* FOOTER */


#siteMapBackground,
#footerBackground {
    background: #111;
}


/* Remove when fixed in core */

#siteMapNew {
    text-align: center;
    font-size: 12px;
}
#siteMapNew li {
    vertical-align: top;
}
#siteMapNew .siteMapHeader {
    margin: 0 0 18px 0;
    padding-bottom: 18px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
#siteMapNew .siteMapColumn ul {
    padding: 0 5%;
}
#siteMapNew .siteMapColumn a {
    display: inline-block;
    padding-bottom: 12px;
    color: #999;
}
/* Must come after .siteMapColumn a */
#siteMapNew .siteMapHeader a {
    color: #888;
}
#siteMapNew .siteMapColumn a:hover {
    color: #333;
}
.dark #siteMapNew .siteMapHeader {
    border-bottom: 1px dashed rgba(255,255,255,.15);
}
.dark #siteMapNew .siteMapColumn a {
    color: #666;
}
/* Must come after .dark .siteMapColumn a */
.dark #siteMapNew .siteMapHeader a {
    color: #999;
}
.dark #siteMapNew .siteMapColumn a:hover {
    color: #CCC;
}






/* FOOTER SITE MAP */

#siteMapNew {
    padding: 110px 0 100px;
}
.siteMapColumn {
    padding: 0 8%;
}
.siteMapColumn a {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 11px;
}
#siteMapNew .siteMapHeader {
    font-size: 11px;
    font-weight: bold;
    color: #999;
}
#siteMapNew .siteMapHeader a {
    margin-left: -18px;
    padding: 0 0 0 18px;
    font-weight: bold;
    color: #999;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starPurple.png') no-repeat left 2px;
    background-size: 9px;
}
.siteMapColumn a:hover {
    color: #FFF;
}
.siteMapColumn .socialMedia a {
    border: none;
    background: #5F2787;
}
.siteMapColumn .socialMedia a:hover {
    background: #FFF;
    border: none;
}
.dark .siteMapColumn .socialMedia svg g,
.dark .siteMapColumn .socialMedia a:hover svg g {
    fill: #111;
}
#footer {
    padding-top: 65px;
    border-top: 1px solid rgba(255,255,255,.1);
}
#footer p {
    font-weight: 400;
    color: #6D6D6D;
    letter-spacing: 2px;
    line-height: 1.8;
}
#footer p a {
    color: #999;
}
#footer p a:hover {
    color: #FFF;
}
#footerLogo img {
    margin: 0 0 30px;
    width: 100px;
}
#footerCredit {
    margin: 22px 0 60px;
}
#footerCredit p,
#footerCredit a {
    margin-top: 10px;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #555;
}
#footerCredit a {
    margin-top: 55px;
}
#footerCredit a:hover {
    color: #FFF;
}


/* CUSTOM PAGES */

.customArticle ol li,
.customArticle ul li {
    padding-bottom: 12px;
}
#aboutUs img {
    width: 100%;
}
#FAQ p.bodyLarge {
    margin-bottom: 26px;
}
#Nominate #districtInfo h3 {
    margin: 45px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
}
#Nominate #districtInfo a {
    transition: all .2s ease-out;
    display: inline-block;
    margin: 0 1px 5px 0;
    padding: 2px 4px;
    color: #FFF;
    background: #7932AC;
}
#Nominate #districtInfo a:hover {
    background: #111;
}

#FAQ .FAQLinks {
    margin-bottom: 50px;
}
#FAQ .FAQLinks li {
    padding: 12px 0;
    line-height: 1.2;
    border-bottom: 1px solid #DDD;
}
#FAQ .FAQLinks h4 {
    margin: 38px 0 22px;
}
#FAQ .FAQLinks li:first-child h4 {
    margin-top: 0;
}
#FAQ #FAQbody h2 {
    margin: 80px 0 50px;
}
#FAQ #FAQbody h2:first-child {
    margin-top: 0;
}
#FAQ #FAQbody hr {
    margin: 40px 0;
    padding: 0;
    height: 6px;
}






#candidateListPage #callToAction .intro {
    margin-bottom: 60px;
    max-width: 600px;
}

/* USA progress bar */

#signUpProgress {
    margin-right: 20%;
    max-width: 320px;
}
#progressBarContainer {
    border: 5px solid #FFF;
}
#progressNumbers {
    z-index: 10;
    top: inherit;
    height: 30px;
}
#startNumber {
    transform: translateX(-8px);
}
#endNumber {
    transform: translateX(32px);
}
#numberLine {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 6px;
    height: 1px;
    border-top: 1px solid #333;
}
#signUpProgress svg {
    margin-bottom: 16px;
    position: relative;
}
#progressBarContainer {
    bottom: 16px;
    background: #EEE;
}
#progressBar {
    bottom: 0;
}
@media (max-width: 959px) {
    #signUpProgress {
        margin: 50px auto 0 auto;
    }
    #progressNumbers {
        transform: translateX(-15px);
    }
}

/* Sign up numbers */


#signUpLabel {
    margin-top: 12px;
    font-size: 20px;
    letter-spacing: .05em;
}
#signUpLabel .starLeft,
#signUpLabel .starRight {
    background-image: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starPurple.png');
}
#totalSignUp {
    font-size: 100px;
    font-weight: 100;
    line-height: .8;
}
#totalSignUp.borderDashed {
    margin-top: 25px;
    padding-top: 25px;
}
@media (max-width: 1200px) {
    #totalSignUp {
        font-size: 80px;
    }
}
@media (max-width: 959px) {
    #signUpLabel {
        margin-top: 0;
    }
    #totalSignUp {
        font-size: 100px;
    }
}


/* Sign up form */


#candidateJoin.joinForm .listInline li {
    display: block;
}
/* Make input containers wider */
#candidateJoin md-input-container {
    margin: 8px 0;
    width: 300px;
}
/* Prompt text */
#candidateJoin md-input-container .md-placeholder,
#candidateJoin md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    font-size: 18px;
}
#candidateJoin  .btn {
    margin-top: -8px;
    padding: 15px 0;
    width: 300px;
}

@media (max-width: 1100px) {
    #candidateJoin md-input-container,
    #candidateJoin  .btn {
        width: 260px;
    }
}
@media (max-width: 1000px) {
    #candidateJoin md-input-container,
    #candidateJoin  .btn {
        width: 220px;
    }
}
@media (max-width: 959px) {
    #candidateJoin p{
        margin-bottom: 35px;
        max-width: 500px;
    }
    #candidateJoin md-input-container,
    #candidateJoin  .btn {
        width: 300px;
    }
    #candidateJoin {
        float: none;
        margin-top: 60px;
    }
}


/* General profile styling */

.profileList h1,
.profileDetails h1 {
    margin: 0 0 26px;
    text-align: center;
    font-size: 35px;
}
.profileList .pullout,
.profileDetails .pullout {
    margin-bottom: 60px;
    max-width: 920px;
}
.profileImage img {
    width: 100%;
}

/* Profile List */

#profileList {
    margin: 0 -2%;
    padding-top: 60px;
}
.profileContainer {
    position: relative;
}
.profileItem {
    margin: 0 4%;
    padding-bottom: 120px;
}
.profileList .profileImage {
    float: left;
    max-width: 50%;
    margin: 0 5% 22px 0;
}
.profileList h2 {
    margin: 0 0 12px;
    font-size: 18px;
}
.profileList h4 {
    margin-bottom: 26px;
}
.profileList .profileBody {
    margin-bottom: 22px;
    padding-right: 3%;
}
.profileItem .readMore {
    display: block;
}
.profileExtra {
    position: absolute;
    right: 4%;
    bottom: 80px;
    left: 4%;
    padding: 5px 12px;
    color: #FFF;
}
.profileExtra .starText {
    font-size: 18px;
    color: #FFF;
    letter-spacing: .08em;
}



@media (max-width: 1200px) {
    .profileList .profileImage {
        max-width: 40%;
    }
    .profileBody {
        font-size: 14px;
    }
    .profileItem .readMore {
        display: inline;
    }
}
@media (min-width: 960px) and (max-width: 1000px) {
    .profileItem {
        padding-bottom: 112px;
    }
    .profileList .profileImage {
        max-width: 40%;
    }
    #profileList h4 {
        margin-bottom: 16px;
    }
    .profileList .profileBody {
        font-size: 13px;
    }
}
@media (max-width: 959px) {
    #profileList {
        margin: 0 -5%;
    }
    .profileItem {
        margin: 0 10%;
        text-align: center;
    }
    .profileList .profileImage {
        float: none;
        margin: 0 0 30px 0;
        max-width: 100%;
    }
    .profileList .profileBody {
        font-size: 15px;
    }
    .profileExtra {
        right: 10%;
        left: 10%;
    }
}
@media (max-width: 600px) {
    #profileList {
        margin: 0;
    }
    .profileItem {
        margin: 0;
        padding-bottom: 45px;
    }
    .profileItem .readMore {
        display: block;
        margin-top: 20px;
    }
    .profileExtra {
        position: relative;
        right: inherit;
        bottom: inherit;
        left: inherit;
        margin-bottom: 16px;
    }
}

/* Profile Details */

.profileDetails .profileImage {
    margin-right: 12%;
}
.profileDetails h2 {
    font-size: 18px;
    color: #7932AC;
}
.profileDetails .callToAction {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.candidateDetailsJoin.joinForm {
    margin-left: -10px;
}
.candidateDetailsJoin.joinForm .btn {
    padding: 15px 25px;
}
@media (min-width: 600px) {
    .candidateDetailsJoin .listInline {
        margin: 0 8px;
    }
}
@media (max-width:959px) {
    .profileDetails .profileImage {
        float: left;
        margin: 0 5% 20px 0;
        width: 50%;
    }
}
@media (max-width:600px) {
    .profileDetails .profileImage {
        float: none;
        margin: 0 0 30px 0;
        width: 100%;
    }
    .candidateDetailsJoin.joinForm {
        margin-top: 50px;
    }
    .candidateDetailsJoin md-input-container {
        margin: 10px 0;
    }
}
