/* LOAD FONTS */
@import '//fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400,700';

@font-face {
    font-family: 'u.s._101regular';
    src: url('fonts/us101-webfont.woff2') format('woff2'),
    url('fonts/us101-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/* BODY */

body {
    position: relative;
    background: #111;
}
body, p {
    color: #3E3E3E;
}

/* LINKS & BUTTONS */

a:link, a:visited, a:active{
    color: #7932AC;
}
a:hover {
    color: #888;
}

.btn,
.btn:link,
.btn:visited,
.btn:active {
    padding: 9px 14px;
    font-size: 14px;
    color: #FFF;
    letter-spacing: .15em;
    text-transform: uppercase;
    background-color: #7932AC;
}
.btn:hover {
    background-color: #222;
}


/* TITLES & HEADERS */

h1 {
    color: #141414;
    font-size: 46px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .02em;
}
h2 {
    color: #444;
    font-size: 30px;
    font-weight: 300;
}
h3 {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    color: #000;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3em;
}
@media (max-width:768px) {
    h1 {
        font-size: 40px;
    }
}

/* STANDARD TEXT STYLES */

.pullout {
    color: #777;
    font-weight: 300;
}
.smallLabel {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: .1em;
}
.bodyLarge {
    font-size: 26px;
    font-weight: 300;
}

@media (max-width:960px) {
    .bodyLarge {
        font-size: 22px;
    }
}




/* ASSIGN FONTS */

/* .primaryFont will be used for the site's typographical logo and some site headers. It must also be legible at small sizes.  */

h1,
.fontPrimary,
.fontPrimary p {
    font-family: 'u.s._101regular';
}
h2,
h3,
.fontSecondary,
.fontSecondary p,
.fontBody,
.fontBody p,
.pullout,
.btn,
.moduleContainer h2 {
    font-family: 'Roboto Slab', serif;
}
.fontTertiary,
h4,
.smallLabel {
    font-family: 'Raleway', sans-serif;
}


/* SOCIAL */

.socialMedia a {
    margin-right: 2px;
    width: 38px;
    height: 38px;
    border: 1px solid #565656;
    border-radius: 50%;
}
.socialMedia a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
}
.socialMedia a:hover {
    background: #598089;
    border: 2px solid #598089;
}
.socialMedia a:hover svg g {
    fill: #FFF;
}

/* BACKGROUNDS */

#siteBackground {
    background: #FFF;
}

/* This color is used for header bars and date boxes and must be dark enough to read reversed text in. */
.backgroundAccentColor {
    background-color: #F94E54;
}
.backgroundDark {
    background: #141414;
}
.backgroundDark a:hover {
    color: #FFF;
}
.backgroundPriority {
    background: #FE7C57;
}


/* BORDERS */

.borderDashed {
    margin-top: 20px;
    padding-top: 20px;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashed.png') repeat-x;
    background-size: 6px;
}
.borderDashedLight {
    margin-top: 20px;
    padding-top: 20px;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedLight.png') repeat-x;
    background-size: 6px;
}
.borderDashedVertical {
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedVertical.png') repeat-y;
    background-size: 1px;
}
.borderDashedBold {
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedBold.png') repeat-x;
    background-size: 8px;
}


/* COLORS (In order of most to least commonly used) */

.purple {
    background: #7932AC;
}
.purpleText {
    color: #7932AC;
}
.blue {
    background: #598089;
}
.blueText {
    color: #598089;
}
.salmon {
    background: #FF7A65;
}
.salmonText {
    color: #FF7A65;
}
.green {
    background: #8C8B02;
}
.greenText {
    color: #8C8B02;
}
.yellow {
    background: #FFFE00;
}
.yellowText {
    color: #FFFE00;
}



/* SITE STRUCTURE */

.shellVerticalPadding {
    padding: 70px 0;
}
.siteMaxWidth {
    max-width: 1300px;
}
@media (max-width:960px) {
    .shellVerticalPadding {
        padding: 55px 0;
    }
}

/* HEADER */

#header1 {
    padding: 60px 0 34px;
    border-bottom: 3px solid #222;
}
#planGraphic {
    max-width: 274px;
}
#logoHeader img {
    margin-top: 8px;
    max-width: 210px;
}
.btn.btnContribute {
    margin-top: 14px;
    background: #393939;
}
.btn.btnContribute:hover {
    background: #598089;
}
#linkCandidates {
    display: block;
    margin-top: 42px;
    padding-right: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: bold;
    color: #598089;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starBlue.png') no-repeat right center;
    background-size: 9px;
}
#linkCandidates:hover {
    color: #000;
}
#header2 {
    padding: 17px 0;
    border-bottom: 1px solid #9B9B9B;
}
.headerOrnament {
    width: 4px;
    height: 18px;
}
/* Hide left ornament while identical contact link ornament is visible */
.headerOrnament.centerLeft {
    display: none;
}
.headerOrnament .square {
    position: absolute;
    left: 0;
    height: 4px;
    width: 4px;
    background: #7932AC;
}
.headerOrnament .square1 {
    top: 0;
}
.headerOrnament .square2 {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
}
.headerOrnament .square3 {
    top: 14px;
}
#headerContact a:hover .square1,
#headerContact a:hover .square3 {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    background: #000;
}
#headerContact a .btnText {
    padding-left: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #5F2787;
}
#headerContact a:hover .btnText {
    color: #000;
}
#navMainContainer ul li {
    vertical-align: top;
    padding: 0;
}
#navMainContainer .delimiter {
    width: 36px;
    text-align: center;
}
#navMainContainer .delimiter img {
    margin-top: 13px;
    width: 12px;
}
.navMainLink a {
    padding: 0;
    color: #121212;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: .01em;
}
.navMainLink a:hover {
    color: #7932AC;
}
#headerSocial {
    right: 20px;
}
#headerSocial .socialMedia {
    margin: 4px 0 0 0;
}




@media (max-width:991px) {

    /* temporary */
    #mainNavigationHeader {
        display: block;
    }


    .sidebarToggle  {
        top: 32px;
        right: 40px;
    }
    #shellSidebar .borderDashed {
        margin-top: 20px;
        padding-top: 20px;
    }
}
@media (max-width:960px) {
    #navMainContainer .delimiter {
        width: 30px;
        text-align: center;
    }
    #navMainContainer .delimiter img {
        margin-top: 13px;
        width: 10px;
    }
    .navMainLink a {
        font-size: 30px;
    }
}
@media (max-width:840px) {
    #header2 {
        padding: 8px 0;
    }
    .headerOrnament.centerLeft {
        display: block;
    }
    #headerContact,
    #headerSocial {
        display: none;
    }
}
@media (max-width:600px) {
    .sidebarToggle  {
        top: 20px;
    }
}
@media (max-width:480px) {
    .sidebarToggle  {
        right: 26px;
    }
    .headerOrnament,
    .headerOrnament.centerLeft {
        display: none;
    }
}



/* RETRACTING HEADER */

#headerRetracting {
    padding: 10px 0;
    box-shadow: 0 1px 6px rgba(33,33,33,.1);
    border-bottom: 1px solid #DDD;
}
#headerRetracting #logoRetractingHeader {
    left: 40px;
    max-width: 220px;
}
#headerRetracting #navMainContainer {
    margin-top: 14px;
}
#headerRetracting .navMainLink a {
    font-size: 22px;
}
#headerRetracting #navMainContainer .delimiter {
    margin-top: 6px;
    width: 28px;
    text-align: center;
}
#headerRetracting #navMainContainer .delimiter img {
    margin-top: 0;
    width: 10px;
}
#headerRetracting #retractingContribute {
    right: 40px;
}
#headerRetracting #retractingContribute .btn {
    margin: 0;
    padding: 5px 12px;
    font-size: 11px;
}
@media (max-width:991px) {
    #headerRetracting .sidebarToggle  {
        top: 32px;
    }
}
@media (max-width:960px) {
    #headerRetracting {
        height: 90px;
    }
}
@media (max-width:600px) {
    #headerRetracting #logoHeader {
        margin: 4px 0;
        max-width: 100px;
    }
}


.mobileDrawer.mobileBackgroundDark {
    background: #111;
}


/* FOOTER JOIN FORM */

#footerJoinForm {
    padding: 40px 0;
}
#footerJoinForm h1 {
    margin: 0 20px 0 0;
    font-size: 32px;
    color: #FFF;
}
#footerJoinForm .starLeft,
#footerJoinForm .starRight {
    width: 13px;
    height: 30px;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starWhite.png') no-repeat left 10px;
    background-size: 13px;
}
#footerJoinForm .starLeft {
    margin-right: 30px;
}
#footerJoinForm .starRight {
    margin-left: 30px;
    background-position: right 10px;
}
#footerJoinForm ul {
    margin-bottom: 0;
}
#footerJoinForm .fakeFormBox {
    color: #FFF;
    font-weight: 300;
    border: 1px solid rgba(255,255,255,.5);
}
#footerJoinForm .btn {
    margin-left: 4px;
    padding: 15px 33px 16px 34px;
    color: #7932AC;
    background: #FFF;
}
#footerJoinForm .btn:hover {
    color: #FFF;
    background: #222;
}

@media (max-width:960px) {
    #footerJoinForm .listInline li {
        display: block;
    }
    #footerJoinForm .listInline li:first-child,
    #footerJoinForm .listInline li:last-child {
        display: none;
    }
    #footerJoinForm h1 {
        margin: 0 0 16px 0;
        text-align: center;
    }
    .fakeFormBox {
        margin: 0 0 8px 0;
    }
    #footerJoinForm .btn {
        display: table;
        margin: 20px auto 0 auto;
    }
}




/* FOOTER */


#siteMapBackground,
#footerBackground {
    background: #111;
}


/* Remove when fixed in core */

#siteMapNew {
    text-align: center;
    font-size: 12px;
}
#siteMapNew li {
    vertical-align: top;
}
#siteMapNew .siteMapHeader {
    margin: 0 0 18px 0;
    padding-bottom: 18px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
#siteMapNew .siteMapColumn ul {
    padding: 0 5%;
}
#siteMapNew .siteMapColumn a {
    display: inline-block;
    padding-bottom: 12px;
    color: #999;
}
/* Must come after .siteMapColumn a */
#siteMapNew .siteMapHeader a {
    color: #888;
}
#siteMapNew .siteMapColumn a:hover {
    color: #333;
}
.dark #siteMapNew .siteMapHeader {
    border-bottom: 1px dashed rgba(255,255,255,.15);
}
.dark #siteMapNew .siteMapColumn a {
    color: #666;
}
/* Must come after .dark .siteMapColumn a */
.dark #siteMapNew .siteMapHeader a {
    color: #999;
}
.dark #siteMapNew .siteMapColumn a:hover {
    color: #CCC;
}






/* FOOTER SITE MAP */

#siteMapNew {
    padding: 110px 0 50px;
}
.siteMapColumn {
    padding: 0 8%;
}
.siteMapColumn a {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 11px;
}
#siteMapNew .siteMapHeader {
    font-size: 11px;
    font-weight: bold;
    color: #999;
}
#siteMapNew .siteMapHeader a {
    padding: 0 0 0 18px;
    font-weight: bold;
    color: #999;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/starPurple.png') no-repeat left 2px;
    background-size: 9px;
}
.siteMapColumn a:hover {
    color: #FFF;
}
.siteMapColumn .socialMedia a {
    border: none;
    background: #5F2787;
}
.siteMapColumn .socialMedia a:hover {
    background: #FFF;
    border: none;
}
.dark .siteMapColumn .socialMedia svg g,
.dark .siteMapColumn .socialMedia a:hover svg g {
    fill: #111;
}

#footer p {
    font-weight: 400;
    color: #6D6D6D;
    letter-spacing: 2px;
    line-height: 1.8;
}
#footer p a {
    color: #999;
}
#footer p a:hover {
    color: #FFF;
}
#footerLogo img {
    margin: 0 0 30px;
    width: 100px;
}
#footerCredit a {
    margin-top: 10px;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #555;
}
#footerCredit a:hover {
    color: #FFF;
}