/* LOAD FONTS */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u9mxLCGwRg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CGwRg.ttf) format('truetype');
}
@font-face {
  font-family: 'u.s._101regular';
  src: url('fonts/us101-webfont.woff2') format('woff2'), url('fonts/us101-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Load LESS Variables */
/* VARIABLES */
/* Fonts */
/* Colors */
/* BODY */
body {
  position: relative;
  background: #141414;
}
body,
p {
  font-size: 15px;
  color: #3E3E3E;
}
/* LINKS & BUTTONS */
a:link,
a:visited,
a:active {
  color: #7932AC;
}
a:hover {
  color: #888;
}
/* Site background dark links are usually on top of a site background image. Need to be bright */
.site-background-dark .content-container a,
.site-background-dark .content-container a:link,
.site-background-dark .content-container a:visited,
.site-background-dark .content-container a:active {
  color: #EEE;
}
.site-background-dark .content-container a:hover {
  color: #FFF;
}
/* BUTTONS */
.btn,
#app .md-button,
.btn:link,
#app .md-button:link,
.btn:visited,
#app .md-button:visited,
.btn:active,
#app .md-button:active {
  transition: all 0.2s ease-out;
  padding: 9px 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #FFF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #7932AC;
  box-shadow: none;
  border: none;
}
.btn:hover,
#app .md-button:hover {
  background-color: #141414;
}
.background-dark .btn,
.background-dark .md-button,
.background-dark .btn:link,
.background-dark .md-button:link,
.background-dark .btn:visited,
.background-dark .md-button:visited,
.background-dark .btn:active,
.background-dark .md-button:active {
  color: #111;
  background-color: #FFF;
}
.background-dark .btn:hover,
.background-dark .md-button:hover {
  color: #FFF;
  background-color: #7932AC;
}
.btn-more,
.btn-more:link,
.btn-more:visited,
.btn-more:active {
  padding-bottom: 8px;
  color: #7932AC;
  background: none;
  border: 1px solid #7932AC;
}
.btn-more:hover,
.btn-more:link:hover,
.btn-more:visited:hover,
.btn-more:active:hover {
  color: #000;
  background: none;
  border: 1px solid #000;
}
.background-dark .btn-more,
.background-dark .btn-more:link,
.background-dark .btn-more:visited,
.background-dark .btn-more:active {
  color: #FF7A65;
  background: none;
  border: 1px solid #FF7A65;
}
.background-dark .btn-more:hover,
.background-dark .btn-more:link:hover,
.background-dark .btn-more:visited:hover,
.background-dark .btn-more:active:hover {
  color: #FFF;
  background: none;
  border: 1px solid #FFF;
}
/* SVGs */
.content-container a svg g,
.more-box a svg g {
  fill: #7932AC;
}
.content-container a:hover svg g,
.more-box a:hover svg g {
  fill: #000;
}
.content-container .background-dark a:hover svg g,
.more-box .background-dark a:hover svg g {
  fill: #FFF;
}
.default-icon-color a svg g {
  fill: #333;
}
.default-icon-color a:hover svg g {
  fill: #7932AC;
}
.color-primary a svg g {
  fill: #7932AC;
}
#app .border.border-color-active,
#app li:hover .default-icon-color.border {
  border-color: #7932AC;
}
/* TITLES & HEADERS */
h1,
h1 a {
  color: #141414;
}
h1 {
  font-family: 'u.s._101regular', serif;
  font-size: 52px;
  font-weight: normal;
  line-height: 1.2;
}
@media (max-width: 959px) {
  h1 {
    font-size: 30px;
  }
}
.shell-titles {
  padding-bottom: 30px;
  margin-bottom: 70px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/borderDashedBold.png') repeat-x left bottom;
  background-size: 8px;
}
.has-header-image .shell-titles,
.site-background-dark .shell-titles {
  background-image: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/borderDashedLight.png');
}
h2,
h2 a {
  color: #323232;
}
h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 34px;
  text-transform: none;
}
h3,
h3 a {
  color: #141414;
}
h3 {
  font-family: 'u.s._101regular', serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: normal !important;
}
h4,
h4 a {
  color: #141414;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
p.pullout {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: bold;
}
p.intro {
  font-weight: bold;
  font-size: 18px;
}
p.citation {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
/* ASSIGN FONTS */
/* .primaryFont will be used for the site's typographical logo and some site headers. It must also be legible at small sizes.  */
.font-primary,
.font-primary p {
  font-family: 'u.s._101regular', serif;
}
.font-secondary,
.font-secondary p,
.btn {
  font-family: 'Roboto Slab', serif;
}
.font-body,
.font-body p,
p,
.font-body ul li {
  font-family: 'Roboto', sans-serif;
}
.font-tertiary {
  font-family: 'Montserrat', sans-serif;
}
/* SOCIAL */
.header .social-media,
.footer .social-media {
  margin: 0 0 10px;
}
.header .social-media a,
.footer .social-media a {
  position: relative;
  margin-right: 2px;
  width: 41px;
  height: 41px;
  border: 1px solid #FF7A65;
  border-radius: 50%;
}
.header .social-media a svg,
.footer .social-media a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}
.header .social-media a svg g,
.footer .social-media a svg g {
  fill: #FF7A65;
}
.header .social-media a:hover,
.footer .social-media a:hover {
  background: #FF7A65;
  border: 1px solid #FF7A65;
}
.header .social-media a:hover svg g,
.footer .social-media a:hover svg g {
  fill: #FFF;
}
/* COLORS */
.color-pop {
  color: #FF7A65;
}
.color-default {
  color: #7932AC;
}
.purple {
  background: #7932AC;
}
.purple-text {
  color: #7932AC;
}
.blue {
  background: #598089;
}
.blue-text {
  color: #598089;
}
.salmon {
  background: #FF7A65;
}
.salmon-text {
  color: #FF7A65;
}
/* Landing stream colors */
#app .template-background-color1 {
  background-color: #7932AC;
}
#app .template-background-color2 {
  background-color: #141414;
}
#app .template-background-color3 {
  background-color: #FF7A65;
}
#app .template-background-color4 {
  background-color: #F6F6F6;
}
#app .template-background-color5 {
  background-color: #598089;
}
#app .template-background-color1 h1,
#app .template-background-color2 h1,
#app .template-background-color5 h1,
#app .template-background-color1 h2,
#app .template-background-color2 h2,
#app .template-background-color5 h2,
#app .template-background-color1 h3,
#app .template-background-color2 h3,
#app .template-background-color5 h3,
#app .template-background-color1 h4,
#app .template-background-color2 h4,
#app .template-background-color5 h4,
#app .template-background-color1 h1 a,
#app .template-background-color2 h1 a,
#app .template-background-color5 h1 a,
#app .template-background-color1 h2 a,
#app .template-background-color2 h2 a,
#app .template-background-color5 h2 a,
#app .template-background-color1 h3 a,
#app .template-background-color2 h3 a,
#app .template-background-color5 h3 a,
#app .template-background-color1 h4 a,
#app .template-background-color2 h4 a,
#app .template-background-color5 h4 a {
  color: #FFF;
}
#app .template-background-color1 p,
#app .template-background-color2 p,
#app .template-background-color5 p,
#app .template-background-color1 div,
#app .template-background-color2 div,
#app .template-background-color5 div {
  color: #DDD;
}
#app .template-background-color1 h1 a:hover,
#app .template-background-color2 h1 a:hover,
#app .template-background-color5 h1 a:hover,
#app .template-background-color1 h2 a:hover,
#app .template-background-color2 h2 a:hover,
#app .template-background-color5 h2 a:hover,
#app .template-background-color1 h3 a:hover,
#app .template-background-color2 h3 a:hover,
#app .template-background-color5 h3 a:hover,
#app .template-background-color1 h4 a:hover,
#app .template-background-color2 h4 a:hover,
#app .template-background-color5 h4 a:hover {
  opacity: 0.9;
}
#app .template-background-color1 .border-default,
#app .template-background-color2 .border-default,
#app .template-background-color5 .border-default {
  border-color: rgba(255, 255, 255, 0.3);
}
#app .template-background-color1 .btn,
#app .template-background-color2 .btn,
#app .template-background-color5 .btn,
#app .template-background-color1 .btn-more,
#app .template-background-color2 .btn-more,
#app .template-background-color5 .btn-more,
#app .template-background-color1 .btn:link,
#app .template-background-color2 .btn:link,
#app .template-background-color5 .btn:link,
#app .template-background-color1 .btn-more:link,
#app .template-background-color2 .btn-more:link,
#app .template-background-color5 .btn-more:link,
#app .template-background-color1 .btn:visited,
#app .template-background-color2 .btn:visited,
#app .template-background-color5 .btn:visited,
#app .template-background-color1 .btn-more:visited,
#app .template-background-color2 .btn-more:visited,
#app .template-background-color5 .btn-more:visited,
#app .template-background-color1 .btn:active,
#app .template-background-color2 .btn:active,
#app .template-background-color5 .btn:active,
#app .template-background-color1 .btn-more:active,
#app .template-background-color2 .btn-more:active,
#app .template-background-color5 .btn-more:active {
  background: none;
  color: #FF7A65;
  border: 2px solid #FF7A65;
}
#app .template-background-color1 .btn:hover,
#app .template-background-color2 .btn:hover,
#app .template-background-color5 .btn:hover,
#app .template-background-color1 .btn-more:hover,
#app .template-background-color2 .btn-more:hover,
#app .template-background-color5 .btn-more:hover {
  color: #FFF;
  background: #FF7A65;
}
#app .template-background-color3 h1,
#app .template-background-color3 h2,
#app .template-background-color3 h3,
#app .template-background-color3 h4,
#app .template-background-color3 h1 a,
#app .template-background-color3 h2 a,
#app .template-background-color3 h3 a,
#app .template-background-color3 h4 a {
  color: #FFF;
}
#app .template-background-color3 p,
#app .template-background-color3 div {
  color: #111;
}
#app .template-background-color3 .btn,
#app .template-background-color3 .btn-more,
#app .template-background-color3 .btn:link,
#app .template-background-color3 .btn-more:link,
#app .template-background-color3 .btn:visited,
#app .template-background-color3 .btn-more:visited,
#app .template-background-color3 .btn:active,
#app .template-background-color3 .btn-more:active {
  background: none;
  color: #FFF;
  border: 2px solid #FFF;
}
#app .template-background-color3 .btn:hover,
#app .template-background-color3 .btn-more:hover {
  color: #FFF;
  background: #111;
  border: 2px solid #111;
}
#app .template-background-color5 .btn,
#app .template-background-color5 .btn-more,
#app .template-background-color5 .btn:link,
#app .template-background-color5 .btn-more:link,
#app .template-background-color5 .btn:visited,
#app .template-background-color5 .btn-more:visited,
#app .template-background-color5 .btn:active,
#app .template-background-color5 .btn-more:active {
  background: none;
  color: #FFF;
  border: 2px solid #FFF;
}
#app .template-background-color5 .btn:hover,
#app .template-background-color5 .btn-more:hover {
  color: #FFF;
  background: #FF7A65;
  border: 2px solid #FF7A65;
}
/* BACKGROUNDS */
.site-background {
  background: #FFFFFF;
}
.background-dark {
  background: #141414;
}
/* This color is used for header bars and date boxes and must be dark enough to read reversed text in */
.background-color-dark {
  background-color: #7932AC;
}
/* Must be able to read dark and light text on. Can be the same as primary if primary is not too dark.  */
.background-color-medium {
  background-color: #598089;
}
/* Must be light enough to read dark text on */
.background-color-light {
  background-color: #EEE;
}
.background-color-pop {
  background-color: #FF7A65;
}
/* BORDERS */
.border-default {
  border-color: rgba(0, 0, 0, 0.6);
}
.border-color {
  border: 1px solid #7932AC;
}
.border-color-pop {
  border: 1px solid #FF7A65;
}
hr {
  margin-top: 26px;
  padding-top: 26px;
  border: none;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/borderDashedBold.png') repeat-x;
  background-size: 8px;
}
.border-dashed {
  margin-top: 20px;
  padding-top: 20px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/borderDashed.png') repeat-x;
  background-size: 6px;
}
.border-dashed-light {
  margin-top: 20px;
  padding-top: 20px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/borderDashedLight.png') repeat-x;
  background-size: 6px;
}
.border-dashed-bold {
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/borderDashedBold.png') repeat-x;
  background-size: 8px;
}
.section-border {
  height: 17px;
}
/* LOADER */
@keyframes pulse {
  50% {
    background: #7932ac;
  }
}
.loader {
  background: rgba(121, 50, 172, 0.2);
}
.loader:before,
.loader:after {
  background: rgba(121, 50, 172, 0.2);
}
/* STARS */
.star-left,
.star-right {
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/starBlack.png') no-repeat left 8px;
  background-size: 9px;
}
.star-right {
  background-position: right 8px;
}
.star-text {
  padding: 0 26px;
}
.star-purple {
  background-image: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/starPurple.png');
}
.star-white {
  background-image: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/starWhite.png');
}
/* SITE STRUCTURE */
.landing-stream .site-max-width {
  max-width: 1400px;
}
.site-side-padding {
  padding-right: 7%;
  padding-left: 7%;
}
.main-column-gutter {
  padding-left: 10%;
}
.no-sidebar.details-page .content-container {
  max-width: 880px;
}
/* HEADER */
.header-content {
  padding-top: 60px;
  padding-bottom: 34px;
}
.header-content .header1 {
  padding-bottom: 34px;
}
.header-content .mission p {
  font-size: 13px;
}
.header-content .header-extra-links .float-links {
  float: right;
  text-align: right;
}
.header {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
.loaded .header {
  opacity: 1;
}
.logo-header a {
  display: inline-block;
}
.logo-header img {
  margin-top: 8px;
  max-width: 210px;
}
.btn.btn-contribute {
  display: inline-block;
  padding: 14px 40px;
  margin-top: 14px;
  font-size: 14px;
  background: #7932AC;
}
.btn.btn-contribute:hover {
  background: #141414;
}
.star-link-right {
  display: block;
  margin-top: 42px;
  padding-right: 15px;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  font-size: 11px;
  font-weight: bold;
  color: #598089;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/starBlue.png') no-repeat right center;
  background-size: 9px;
}
.star-link-right:hover {
  color: #000;
}
.header2 {
  padding: 17px 0;
  border-top: 3px solid #222;
  border-bottom: 1px solid #9B9B9B;
}
.header2 .header-contact,
.header2 .header-shop {
  transition: color 0.2s ease-out;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #141414;
}
.header2 .header-contact {
  padding-left: 24px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/header-contact.png') no-repeat left top;
  background-size: 16px;
}
.header2 .header-contact:hover {
  color: #FF7A65;
  background-position: left bottom;
}
.header2 .header-shop {
  padding-right: 24px;
  text-align: right;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/header-shop.png') no-repeat right top;
  background-size: 16px;
}
.header2 .header-shop:hover {
  color: #7932AC;
  background-position: right bottom;
}
.header-menu {
  display: table;
  margin: 0 auto;
}
.header-menu ul li {
  vertical-align: top;
  padding: 0;
}
.header-menu .delimiter {
  width: 40px;
  height: 34px;
  text-align: center;
  background: url(/assets/1/0/bundles/sitetheorytemplatecustom/images/diagonalDelimiter.png) no-repeat center 10px;
  background-size: 17px;
}
.header-menu .site-nav-link[data-level="1"] {
  padding: 0;
  margin: 0;
  color: #121212;
  font-family: 'u.s._101regular', serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.header-menu .site-nav-link[data-level="1"]:hover {
  color: #7932AC;
}
.has-header-image .menu-background {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 285px;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.site-background-dark .menu-background {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.header-image .parallax-wrapper,
.header-image .parallax-image {
  height: 400px;
}
/* MINI HEADER */
.mini-header {
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.1);
  border-bottom: 1px solid #DDD;
  padding: 26px 0;
}
.mini-header .logo-mini-header a {
  display: block;
  width: 100%;
  height: 70px;
  background: url(/assets/1/0/bundles/sitetheorytemplatecustom/images/Brand-New-Congress-Logo-Horizontal.png) no-repeat left center;
  background-size: 100%;
}
.mini-header .header-menu {
  margin-top: 2px;
}
.mini-header .site-nav-link[data-level="1"] {
  font-size: 26px;
}
.mini-header .delimiter {
  width: 28px;
  height: 30px;
  background-size: 14px;
}
.mini-header .header-menu .delimiter img {
  margin-top: 5px;
  width: 11px;
  font-weight: normal;
}
.mini-header .btn.btn-contribute {
  float: right;
  margin: 0;
  padding: 10px 22px;
  font-size: 13px;
}
@media (max-width: 600px) {
  .mini-header .logo-header {
    margin: 4px 0;
    max-width: 100px;
  }
}
.site-background-dark .mini-header,
.has-header-image .mini-header {
  padding: 36px 0;
  box-shadow: none;
  border: none;
}
.site-background-dark .mini-header [layout="row"],
.has-header-image .mini-header [layout="row"] {
  border-bottom: 3px solid #222222;
}
.site-background-dark .mini-header .logo-mini-header a,
.has-header-image .mini-header .logo-mini-header a {
  background-image: url(/assets/1/0/bundles/sitetheorytemplatecustom/images/Brand-New-Congress-Logo-Horizontal-White.png);
}
.site-background-dark .mini-header .site-nav-link[data-level="1"],
.has-header-image .mini-header .site-nav-link[data-level="1"] {
  color: #FFF;
}
.site-background-dark .mini-header .site-nav-link[data-level="1"]:hover,
.has-header-image .mini-header .site-nav-link[data-level="1"]:hover {
  color: #FF7A65;
}
.site-background-dark .mini-header .delimiter,
.has-header-image .mini-header .delimiter {
  background: url(/assets/1/0/bundles/sitetheorytemplatecustom/images/diagonalDelimiterWhite.png) no-repeat center 8px;
  background-size: 14px;
}
/* RETRACTING HEADER */
.header-retracting {
  padding: 14px 0;
  box-shadow: 0 1px 6px rgba(33, 33, 33, 0.1);
  border-bottom: 1px solid #DDD;
}
.header-retracting .logo-retracting-header {
  left: 40px;
  max-width: 220px;
}
.header-retracting .header-menu {
  margin-top: 2px;
}
.header-retracting .site-nav-link[data-level="1"] {
  font-size: 22px;
}
.header-retracting .delimiter {
  width: 28px;
  height: 30px;
  background-position: center 7px;
  background-size: 12px;
}
.header-retracting .header-menu .delimiter img {
  margin-top: 5px;
  width: 11px;
}
.header-retracting .btn.btn-contribute {
  float: right;
  margin: 0;
  padding: 8px 16px;
  font-size: 12px;
}
@media (max-width: 600px) {
  .header-retracting .logo-header {
    margin: 4px 0;
    max-width: 100px;
  }
}
/* SHELL SIDEBAR */
/* FOOTER SITEMAP */
.site-map-background {
  background: #333;
}
.menu-sitemap {
  font-family: 'Roboto Slab', serif;
}
/* FOOTER */
.footer-background {
  background: #141414;
  font-weight: normal;
}
.footer {
  padding-bottom: 20px;
}
.footer .footer-logo {
  margin-top: 80px;
  display: inline-block;
}
.footer .footer-logo img {
  width: 158px;
}
.footer .footer-site-name {
  display: none;
}
.footer .footer-site-info,
.footer .footer-legal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #666;
}
.footer .footer-site-info a,
.footer .footer-legal a {
  color: #666;
}
.footer .footer-site-info a:hover,
.footer .footer-legal a:hover {
  color: #CCC;
}
.footer,
.footer .credit-label .title-column p {
  font-family: 'Montserrat', sans-serif;
  color: #888;
}
.footer .footer-credit .credit-logo .credit-text {
  font-family: 'Roboto Slab', serif;
  letter-spacing: normal;
  font-size: 10px;
}
/* CONTENT DESIGN */
#app .content-article .date,
#app.news-layout .stream-list .date,
#app.news-layout .stream-list .time {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}
.SitetheoryStreamBundle-CollectioncontentId-38774 .stack-layout .stream-list .title {
  font-size: 34px;
  line-height: 1.2;
}
/* CUSTOM PAGES */
/* PLATFORM */
/* Candidate platform */
.candidatePlatform h2 {
  margin: 50px 0;
  font-size: 28px;
}
.candidatePlatform hr {
  margin: 40px 0;
  padding: 0;
  height: 2px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/borderDashed.png') repeat-x;
  background-size: 6px;
}
.candidatePlatform ul li {
  padding: 0 0 12px 30px;
  background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/starSalmon.png') no-repeat left 2px;
  background-size: 16px;
}
/* Candidate interview */
.interview img {
  width: 100%;
}
.interview hr {
  margin: 60px 0;
  padding: 0;
  height: 2px;
}
p.interviewQuestion {
  position: relative;
  margin: -20px 0 30px 0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 23px;
  line-height: 1.2;
}
p.interviewQuestion:first-child {
  margin-top: 0;
}
p.interviewQuestion::before {
  transform: translateY(12px);
  -webkit-transform: translateY(12px);
  content: 'Q.  ';
  font-size: 50px;
  font-weight: bold;
  font-family: 'Roboto Slab', sans-serif;
  color: #FF7A65;
}
.hint {
  color: #666;
  font-size: 13px;
}
/*# sourceMappingURL=site.css.map */