
/* VARIABLES */

/* Fonts */
@font-primary: 'Roboto Slab', serif;
@font-secondary: 'u.s._101regular', serif;
@font-tertiary: 'Montserrat', sans-serif;

/* Colors */
@color-primary: #7932AC;
@color-medium: #598089;
@color-light: #EEE;
@color-dark: #141414;
@color-pop: #FF7A65;
