{* smarty *}


{* SIDEBAR MODULE AREAS *}
{if $location_type == "sidebar"
|| (
$location_type == "pages" && in_array($location_space, array(5,6))
)}
<div class="module_container module_location_{$location_type}">
    <div class="module_space_{$location_space} module_type_{$module_type_name}">
        {if $title}
        <h2 class="title">
            {if !empty($module_data.link_id) && $module_data.link_id != '/'}
            <a href="{$module_data.link_id}">{$title}</a>
            {elseif $cal_items.calendar_link}
            <a href="{$cal_items.calendar_link}">{$title}</a>
            {else}
            {$title}
            {/if}
        </h2>
        {/if}
        {if $cal_items.events|@count > 0}
        {section name="row" loop=$cal_items.events}
        <h3 class="date">{$cal_items.events[row].date}</h3>
        <p class="details"><a {if $cal_items.events[row].use_popups}rel="html_lightbox" {/if}href="//www.votecoribush.com{$cal_items.events[row].link}">{$cal_items.events[row].title}</a></p>
        {/section}
        {if $more_info_button}<div class="button"><a href="{$cal_items.calendar_link}">{$more_info_button}</a></div>{/if}
        {else}
        <p class="notice">No Upcoming Events Listed</p>
        {/if}
    </div>
</div>


{else}
{* HOME PAGE or BASIC PAGES *}
<div class="module_container module_location_{$location_type} module_space_{$location_space} module_type_{$module_type_name}">
    {if $title}
    <h2 class="module_title">
        {if !empty($module_data.link_id) && $module_data.link_id != '/'}
        <a href="{$module_data.link_id}">{$title}</a>
        {elseif $cal_items.calendar_link}
        <a href="{$cal_items.calendar_link}">{$title}</a>
        {else}
        {$title}
        {/if}
    </h2>
    {/if}


    {if $cal_items.events|@count > 0}
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        {section name="row" loop=$cal_items.events}
        <tr>
            <td><div class="module_body module_calendar_date"><strong>{$cal_items.events[row].date}</strong>&nbsp;</div></td>
            <td><div class="module_body module_calendar_title"><a {if $cal_items.events[row].use_popups}rel="html_lightbox" {/if}href="//www.votecoribush.com{$cal_items.events[row].link}/foo">{$cal_items.events[row].title}</a></div></td>
        </tr>
        {/section}
        {if $more_info_button}
        <tr>
            <td colspan="2"><div class="module_body module_button"><a href="{$cal_items.calendar_link}"{if !empty($cal_items.link_target)} target="{$cal_items.link_target}"{/if}>{$more_info_button}</a></div></td>
        </tr>
        {/if}
    </table>
    {else}
    <div class="module_body"><strong>No Upcoming Events Listed</strong></div>
    {/if}
</div>
{/if}
