{% extends '@SitetheoryArticle/Article35633.html.twig' %}

{# extend the main Nominate Form with additional fields at top #}
{% block nominateForm %}

    {% set nominator = 'the Nominator' %}
    <div class="whiteframePadding" md-whiteframe="2">
        <h2 flex="100">About You (the Submitter)</h2>

        <div layout="row" flex="100">
            <md-input-container class="md-input-has-placeholder" flex-gt-sm="45">
                <md-select-label md-no-float class="noFloat">Source</md-select-label>
                <md-select name="source" ng-model="data.source" required>
                    <md-option value="Nominator Call">Nominator Call</md-option>
                    <md-option value="Research">Research</md-option>
                    <md-option value="Personal Contact">Personal Contact</md-option>
                </md-select>
                <div class="md-errors-spacer"></div>
            </md-input-container>

            <div flex-gt-sm="10"></div>

            <md-input-container class="md-input-has-placeholder" flex-gt-sm="45">
                <md-select-label md-no-float class="noFloat">Your Team</md-select-label>
                <md-select name="sourceTeamName" ng-model="data.sourceTeamName" required>
                    <md-option value="BNC Staff">BNC Staff</md-option>
                    <md-option value="Call Team">Call Team</md-option>
                    <md-option value="Help Desk">Help Desk</md-option>
                    <md-option value="Candidate Research Team">Candidate Research Team</md-option>
                    <md-option value="No Team">No Team</md-option>
                </md-select>
                <div class="md-errors-spacer"></div>
            </md-input-container>
        </div>

        <div layout="row" flex="100">
            <md-input-container flex-gt-sm="45">
                <label md-no-float class="noFloat">Source details</label>
                <textarea name="sourceDetails" type="text" ng-model="data.sourceDetails" row="1" required></textarea>
            </md-input-container>

            <div flex-gt-sm="10"></div>

            <md-input-container flex-gt-sm="45">
                <label md-no-float class="noFloat">Your Email</label>
                <input name="submitterEmail" type="text" ng-pattern="options.pattern.email" ng-model="data.submitterEmail" placeholder="" required>
                <div ng-messages="Nominate.submitterEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid email.
                    </div>
                </div>
            </md-input-container>
        </div>
    </div>

    {{ parent() }}

{% endblock nominateForm %}