{% extends 'SitetheoryArticleBundle::Article.html.twig' %}


{% block headerImageInsideHeader %}
    <br><br>
{% endblock headerImageInsideHeader %}


{% set sectionNameHardCoded = 'Help Us' %}
{% set sectionMenuHardCoded = '2' %}
{% set sectionMenuActive = 'callActive' %}

{% block contentType %}
<div id="JoinCall">
 <p class="bodyLarge">Brand New Congress wants to recruit over 400 extraordinary ordinary Americans to run for Congress in 2018. We need your help to find these people. Join us on one of the calls listed below to hear more about who we're looking for and how you can help.</p>

</div>

{% endblock contentType %}