{% extends view.templates.shell %}




{% block headerImageInsideHeader %}
    <div class="headerImage siteMaxWidth siteSidePadding">
        <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/headerImageVolunteer.jpg') }}" alt="">
    </div>
{% endblock headerImageInsideHeader %}