{% extends 'SitetheoryArticleBundle::Article.html.twig' %}


{% block body %}

    {# Temporary Day Without a Woman Strike home page #}
    <div id="dayWithoutAWoman" class="positionAll">
        <div class="siteMaxWidth siteSidePadding">
            <div class="textContainer verticalCenter">
                <h1>We stand with women today</h1>
                <div id="BNCStrikeLogo">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNCStrikeLogo.png') }}"
                         alt="">
                </div>
            </div>
        </div>
        <div class="blackCover positionAll"></div>
    </div>

{% endblock body %}