{% extends 'SitetheoryArticleBundle::Article.html.twig' %}


{% block headerImageInsideHeader %}
    <div class="headerImage siteMaxWidth siteSidePadding">
        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/headerImageAbout.jpg') }}" alt="">
    </div>
{% endblock headerImageInsideHeader %}


{% set sectionNameHardCoded = 'Support' %}
{% set sectionMenuHardCoded = '2' %}
{% set sectionMenuActive = 'supportActive' %}

{% block contentType %}
<div layout="row">
    <div flex="100">
        <p class="pullout">
            We are recruiting over 400 extraordinary Americans to run in a unified campaign for Congress in 2018. We need your help!
        </p>
        <br>
        <div layout="column" layout-align="center center">
            <a class="btn btnNominate" href="/nominate">Nominate a candidate!</a>
        </div>
        <br>
        <br>
        <hr>
    </div>
</div>
<div layout="row">

    <hr>

    <div flex="100" flex-gt-xs="45">
        <h2>Get Involved Now</h2>
        <p>Are you ready to join the revolution and channel your energy into something productive? Tell us about <a href="/volunteer">your skills, talents, and interests</a> and we'll find a team where you can make a difference.</p>

        <p>If you have any questions, reach out to us anytime at <a href="mailto:us@brandnewcongress.org">us@brandnewcongress.org</a>.</p>

        <h2>Describe Your District</h2>
        <p>In order for us to run candidates that both reflect and appeal to the voters in their congressional districts, it’s critical that we have an informed understanding of realities on the ground. <a href="https://docs.google.com/forms/d/e/1FAIpQLSe8CfK0gUULEVpYFm9Eb4iyGOL-_iDl395qB0z4hny7ek4iNw/viewform">Tell us about your congressional district</a>.</p>

    </div>

    <div flex="100" flex-gt-xs="45" flex-offset-gt-xs="10">

        <h2>Connect Us With Influencers</h2>
        <p>It's all about who you know. Can you <a href="https://docs.google.com/forms/d/e/1FAIpQLSceYguZI_gngXf7dLOXN6xUkLRNsYfn0b2v-aDEvZKPH-j1dQ/viewform">suggest someone</a> who can help us find candidates in their district, or just people with influence who might support our cause?</p>


        <h2>Research Candidates</h2>
        <p>Learn how to <a href="/nominate">find and nominate qualified candidates</a>. And then <a href="/call">Join a BNC candidate nomination orientation call</a> to get an understanding of the types of candidates we are looking for.</p>


        <h2>Organize locally</h2>
        <p>If you are interested in organizing locally, you can get to work right away by using our <a href="https://docs.google.com/document/d/1Op0OaZNuykCJckSCn4vABDEr4VEdTrMeTsPCZFNSJo4/edit">local organizing toolkit</a>. All the information and resources you'll need with be there.</p>


    </div>
</div>

{% endblock contentType %}