{% extends 'SitetheoryArticleBundle::Article.html.twig' %}


{% block headerImageInsideHeader %}
    <div class="headerImage siteMaxWidth siteSidePadding">
        <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/headerImageVolunteer.jpg') }}" alt="">
    </div>
{% endblock headerImageInsideHeader %}


{% set sectionNameHardCoded = 'Work With Us' %}
{% set sectionMenuHardCoded = '2' %}
{% set sectionMenuActive = 'volunteerActive' %}