{% extends 'SitetheoryArticleBundle::Article.html.twig' %}


{% block headerImageInsideHeader %}
    <div class="headerImage siteMaxWidth siteSidePadding">
        <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/headerImageOverview.jpg') }}" alt="">
    </div>
{% endblock headerImageInsideHeader %}


{% set sectionNameHardCoded = 'Help Us' %}
{% set sectionMenuHardCoded = '2' %}
{% set sectionMenuActive = 'overviewActive' %}

{% block contentType %}
<div layout="row" class="customArticle">
    <div flex="100" flex-gt-xs="25">
        <p class="pullout">Right now we are laser focused on putting together our slate of candidates. The more people we have involved in this process, the better.</p>
    </div>

    <div flex="100" flex-gt-xs="70" flex-offset-gt-xs="5">
        <h2>Help us find candidates</h2>
        <p>Here are three things you can do right now to get started with helping us to find candidates:</p>

        <br>
        <ol>
            <li><a href="/Call">Join a BNC candidate nomination orientation call</a> to get an understanding of the types of candidates we are looking for.</li>
            <li><a href="https://docs.google.com/document/d/1_Aob44aXGpc6OVOxzLNMSW-9_Hs7m5nghKYBGoeuUlE/edit?usp=sharing" target="_blank">Use this guide to help us search for candidates</a></li>
            <li><a href="/nominate">Submit candidate nominations!</a> This is essential!</li>
        </ol>

        <a class="btn">Ready to Nomminate!</a>
        <br>
        <hr>

        <h2>Put your skills to work</h2>

        <p>The revolution needs you! <a href="https://goo.gl/forms/CGeULYdVgKTnW72D2" target="_blank">Tell us about your skills, talents, and interests.</a> We'll keep the information you submit on file and when the time and need arises, you will be on our list of people to contact for that project/need. Thanks for offering to pitch in.</p>

        <br>
        <hr>

        <h2>Organize locally</h2>

        <p>If you are interested in organizing locally, you can get to work right away by using our <a href="https://docs.google.com/document/d/1Op0OaZNuykCJckSCn4vABDEr4VEdTrMeTsPCZFNSJo4/edit">local organizing toolkit</a>. All the information and resources you'll need with be there.</p>

        <p>If you have any questions, reach out to us anytime at <a href="mailto:us@brandnewcongress.org">us@brandnewcongress.org</a>.</p>
    </div>
</div>

{% endblock contentType %}