{% extends 'SitetheoryArticleBundle::Article.html.twig' %}


{# Hide sidebar on desktop #}
{% set bootstrapColumnSidebar = 'hide-gt-xs' %}
{% set bootstrapColumnMain = 'flex=100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide footer signup form #}
{% block footerJoin %}
{% endblock footerJoin %}


{# Hide footer signup form #}

{% block contentType %}
    <div class="profileDetails">
        <p class="pullout divCenter alignCenter">We are drafting Chardo Richardson for Brand New Congress because of his long history of selfless service and deep involvement with civil rights and workers’ rights. <a href="https://www.youtube.com/watch?v=27M3BO69ZCs">Listen to Chardo explain a landmark supreme count case in one of his Think LegalEase videos</a>.</p>

        <h1>Florida 9th</h1>
        <div class="borderDashedBold shellVerticalPadding">

            <div layout="row" layout-wrap>
                <div flex="100" flex-gt-sm="40">
                    <div hide-xs hide-sm class="profileImage">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/ChardoRichardson.jpg') }}" alt="">
                    </div>
                </div>
                <div flex="100" flex-gt-sm="60">
                    <div hide-gt-sm class="profileImage">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/ChardoRichardson.jpg') }}" alt="">
                    </div>
                    <div class="profileBody">
                        <h2>Why You Should Support Drafting Chardo Richardson</h2>
                        <p>Chardo Richardson a is a natural leader, a fighter, an advocate, and an educator.  He has gone the extra mile often enough that it’s become his standard. Among his long record of service are five tours of duty in Iraq and Afghanistan. After his time with the USAF, he became an attorney to defend those without a voice in his community. That desire to fight for others led Chardo to the ACLU. He was chosen by his peers to lead the Central Florida chapter as President, a volunteer role. As chapter president he works to raise awareness and defend citizens’ rights. Chardo also fights against economic injustice and for workers’ rights as an organizer with Working America. Chardo also started Think LegalEase, a series of YouTube videos that explain the the law in an easy to digest and entertaining fashion. There is no doubt in our mind that Mr. Richardson would continue to fight and sacrifice for others as a United States Congressman while working to make the law clear and understandable. </p>
                        <p class="callToAction">If you’d like to see Chardo in Congress fighting for those without a voice, support us so we can convince Chardo Richardson to run for Congress.</p>
                    </div>
                    <div class="candidateDetailsJoin joinForm">
                        {{ block('registrationForm') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="borderDashedBold shellVerticalPadding alignCenter">
            {{ block('candidateReturnLink') }}
        </div>
    </div>
{% endblock contentType %}