{% extends 'SitetheoryArticleBundle::Article.html.twig' %}


{% block headerImageInsideHeader %}
    <br><br>
{% endblock headerImageInsideHeader %}


{% set sectionNameHardCoded = 'Support' %}
{% set sectionMenuHardCoded = '2' %}
{% set sectionMenuActive = 'callActive' %}

{% block contentType %}
<div id="JoinCall">
    <p class="bodyLarge">Brand New Congress wants to recruit over 400 extraordinary ordinary Americans to run for Congress in 2018. We need your help to find these people. Join us on one of the calls listed below to hear more about who we're looking for and how you can help.</p>

    <md-list
        id="callList"
        ng-controller="CustomApi"
         options='{"controller":"/conference-calls/upcoming?name=BNC+Candidate+Nomination", "onLoad": "fetch"}'
         layout-padding ng-cloak>

        <!-- Header -->
        <div id="callListHeader">
            <div hide-xs  layout="row">
                <div flex="100" flex-sm="20" flex-gt-sm="15" ></div>
                <div flex="100" flex-sm="30" flex-gt-sm="35"><h2>Date</h2></div>
                <div flex="100" flex-gt-xs="40"><h2>Time</h2></div>
                <div flex="100" flex-gt-xs="10"><h2>Joined</h2></div>
            </div>
            <h2 hide-gt-xs>Scheduled Calls</h2>
        </div>


        <!-- Proggress Bar -->
        <md-progress-linear ng-if="!results.conferences" md-mode="indeterminate"></md-progress-linear>

        <!-- List Body with Repeating Rows -->
        <md-list-item

                ng-repeat="model in results.conferences"
                layout="row"
                layout-xs="column"
                layout-align="space-between center"
                layout-wrap>
            {% verbatim %}
                <div class="action" flex="100" flex-sm="20" flex-gt-sm="15" >
                    <md-button href="{{ model.registrationLink }}" aria-label="join" class="md-fab md-primary">Join</md-button>
                </div>

                <div class="date" flex="100" flex-sm="30" flex-gt-sm="35">
                    {{ model.date }}
                </div>

                <div class="time" flex="100" flex-gt-xs="40">
                    {{ model.time }}
                </div>

                <div class="joined" flex="100" flex-gt-xs="10">
                    <span hide-gt-xs>Joined:</span>
                    {{ model.currentSignups || 'Be the First!' }}
                </div>
            {% endverbatim %}

        </md-list-item
>
    </md-list>

</div>

{% endblock contentType %}