{% extends '@SitetheoryArticle/Article35633.html.twig' %}

{% if nominatorPerson is not defined %}{% set nominatorPerson = 2 %}{% endif %}
{% if nominatorPronoun is not defined %}{% set nominatorPronoun = 'the Nominator' %}{% endif %}
{% if nominatorPossessive is not defined %}{% set nominatorPossessive = "Nominator's" %}{% endif %}
{% if nominatorPossessiveDirect is not defined %}{% set nominatorPossessiveDirect = "the Nominator's" %}{% endif %}
{% if resetOptions is not defined %}{% set resetOptions = '{"keep": ["source", "sourceDetails", "sourceTeamName", "submitterEmail"]}' %}{% endif %}

{# extend the main Nominate Form with additional fields at top #}
{% block nominateForm %}

    <div class="whiteframePadding" md-whiteframe="2">
        <h2 flex="100">About You (the Submitter)</h2>

        <div layout="row" flex="100">
            <md-input-container class="md-input-has-placeholder" flex-gt-sm="45">
                <md-select-label md-no-float class="noFloat">Source <span class="required">*</span></md-select-label>
                <md-select aria-label="Submitter Source" name="source" ng-model="data.source" md-no-asterisk required>
                    <md-option value="Nominator Call">Nominator Call</md-option>
                    <md-option value="Research">Research</md-option>
                    <md-option value="Personal Contact">Personal Contact</md-option>
                </md-select>
                <div ng-messages="Nominate.source.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Please select source.
                    </div>
                </div>
                <div class="md-errors-spacer"></div>
            </md-input-container>


            <div flex-gt-sm="10"></div>
            <md-input-container class="md-input-has-placeholder" flex-gt-sm="45" ng-controller="CustomApi" options='{"controller":"/teams", "onLoad": "fetch"}'>
                <md-select-label md-no-float class="noFloat">Your Team <span class="required">*</span></md-select-label>
                <md-select aria-label="Submitter Team" name="sourceTeamName" ng-model="$parent.data.sourceTeamName" md-no-asterisk required>
                    {% verbatim %}
                    <md-option ng-repeat="team in results" ng-value="team.name">
                    {{ team.name }}
                    </md-option>
                    {% endverbatim %}
                </md-select>
                <div ng-messages="$parent.Nominate.sourceTeamName.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Please select your team.
                    </div>
                </div>
                <div class="md-errors-spacer"></div>
            </md-input-container>

        </div>


        <div layout="row" flex="100">
            <md-input-container flex-gt-sm="45">
                <label md-no-float class="noFloat">Source details</label>
                <textarea aria-label="Submitter Source Details" name="sourceDetails" type="text" ng-model="data.sourceDetails" row="1" placeholder="" required></textarea>
                <div ng-messages="Nominate.sourceDetails.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Please enter info.
                    </div>
                </div>
            </md-input-container>

            <div flex-gt-sm="10"></div>

            <md-input-container flex-gt-sm="45">
                <label md-no-float class="noFloat">Your Email</label>
                <input aria-label="Submitter Email" name="submitterEmail" type="text" ng-pattern="options.pattern.email" ng-model="data.submitterEmail" placeholder="" required>
                <div ng-messages="Nominate.submitterEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid email.
                    </div>
                </div>
            </md-input-container>
        </div>
    </div>

    {{ parent() }}

{% endblock nominateForm %}