{% extends 'SitetheoryArticleBundle::Article.html.twig' %}


{# TODO: make CMS manage image #}
{% block headerImageInsideHeader %}
    <div class="headerImage siteMaxWidth siteSidePadding">
        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/headerImagePlan.jpg') }}" alt="">
    </div>
{% endblock headerImageInsideHeader %}


{# TODO: make CMS manage menu #}
{% set sectionNameHardCoded = 'Learn' %}
{% set sectionMenuHardCoded = '3' %}
{% set sectionMenuActive = 'planActive' %}