<div class="clearfix">
    <div id="candidateHeaderLeft">
        <p class="smallLabel purpleText">
            The great state of <br>West Virginia
        </p>
        <div class="stateOutline positionAnchor">
            <div class="stateOutline positionAnchor">
                <img stratus-src="//cdn.sitetheory.io/nest001/2026-westVirginia-xs.png" src="//cdn.sitetheory.io/nest001/2026-westVirginia-xs.png" >
            </div>
        </div>
    </div>
    <div id="candidateHeaderRight">
        <div class="socialMedia basicStyle clearfix">
            <ul class="listInline">
                <li class="candidateTwitter">
                    <a href="https://twitter.com/paulajean2018" target="_blank">
                    </a>
                </li>
                <li class="candidateFacebook">
                    <a href="https://www.facebook.com/paulajean2018" target="_blank">
                    </a>
                </li>
                <li class="candidateLinkedin">
                    <a href="" target="_blank">
                    </a>
                </li>
            </ul>
        </div>
        <div class="candidateHeaderContribute">
            <a class="btn btnContribute" href="" target="_blank">Support Paula Jean</a>
        </div>
    </div>
</div>

<div id="candidateHeaderBorder">
    <div class="borderThick">&nbsp;</div>
    <div class="borderDotted">&nbsp;</div>
</div>

<div id="heroArea" class="positionAnchor">
    <div class="candidateHero"><img stratus-src="//cdn.sitetheory.io/nest001/2025-PaulaHero-xs.jpg" src="//cdn.sitetheory.io/nest001/2025-PaulaHero-xs.jpg">
    </div>
    <a name="homeJoin"></a>
    <div ng-cloak id="homeJoin">
        <div class="join_container clearfix">
            <h2 class="fontTe">Sign Up!</h2>
            <p>
                To join me in the fight for our future against Joe Manchin.
            </p>

            <!-- Don't use IDs here since this is used in 3 places and multiple IDs will break some JS -->


            <form id="formSignup" method="POST" action="https://api.brandnewcongress.org/people">
                <input type="hidden" name="redirect" value="https://secure.actblue.com/contribute/page/paulajean2018">
                <div id="formSignup-form" class="clearfix inputCollection">
                    <div class="inputBlock">
                        <input name="email" type="email" placeholder="Email" required>
                    </div>
                    <div class="inputBlock">
                        <input name="zip" placeholder="Zip" required>
                    </div>
                    <div class="inputBlock">
                        <input name="phone" placeholder="Phone" required>
                    </div>
                    <div class="inputBlock">
                        <button type="submit" class="btn formSubmit fontSecondary">Sign Me Up</button>
                    </div>
                </div>
                <div class="legalAgreement">By signing up, I consent to receiving emails from <span class="tipText"><div class="myTip">One national campaign to elect a corruption-free, Brand New Congress that represents all Americans.</div>Brand New Congress</span> and <span class="tipText"><div class="myTip">Democrats that represent people, not corporations.</div>Justice Democrats.</span></div>
            </form>
        </div>
    </div>
</div>


<div class="candidateLandingJoin">

</div>
<div id="welcome">
    <h2 id="welcomeTitle" class="fontPrimary">
        Time to Invest in Ourselves
    </h2>
    <p id="welcomebody" class="bodyLarge">
        West Virginia coal powered a nation. Now it’s time for West Virginia to invest in ourselves. I’m ready to fight for Medicare for all, universal pre-K, free tech schools and colleges, and a multi-billion dollar investment in West Virginian infrastructure, industry and innovation.
    </p>
</div>

<div class="sectionBorder backgroundDark"></div>

<div id="excerptsRow1" class="candidateExcerpts">
    <md-grid-list md-cols-gt-sm="3" md-cols-sm="2" md-cols-xs="1" md-gutter="8px" md-row-height="1:1">
        <md-grid-tile class="salmon column1" md-colspan="1" md-rowspan="1">
            <div class="excerptContainer">
                <h3>About Paula Jean</h3>
                <p>I am a native of Mullens, West Virginia, and my coal mining roots run deep. I’m a coal miner’s daughter, granddaughter, niece and stepdaughter. As a child, I felt a deep sense of pride in our state’s coal industry. I felt pride that West Virginia’s coal...</p>
                <a class="btn fontTertiary" href="/candidates/Paula-Jean-Swearengin">More</a>
            </div>

        </md-grid-tile>
        <md-grid-tile class="column2" md-colspan="1" md-rowspan="1">
            <img stratus-src="//cdn.sitetheory.io/nest001/2027-homeExcerptImage-xs.jpg">
        </md-grid-tile>
        <md-grid-tile class="column3" md-colspan-sm="2" md-colspan="1" md-rowspan="1">
            <div class="excerptContainer">
                <h3>Fighting to</h3>
                <ul class="fontBody">
                    <li>Invest billions in West Virginian industry, energy, and manufacturing</li>
                    <li>Crush the opioid epidemic</li>
                    <li>Build the energy economy of the future in West Virginia</li>
                    <li>Ensure our place in the burgeoning hemp industry</li>
                    <li>Expand and update our infrastructure</li>
                </ul>
                <a class="btn fontTertiary" href="/Platform">See Full Platform</a>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
<div id="excerptsRow2" class="candidateExcerpts clearfix">
    <div class="stGrid column33 column1">
        <div class="excerptContainer linkList">
            <h3>How to Vote</h3>
            <ul class="listUnstyled fontBody">
                <li class="clearfix">
                    <a href="https://ovr.sos.wv.gov/Register/Landing" target="_blank" class="module_list_padding">
                        Register to Vote
                    </a>
                </li>
                <li class="clearfix">
                    <a href="https://services.sos.wv.gov/Elections/Voter/FindMyPollingPlace" target="_blank" class="module_list_padding">
                        Find Your Polling Place
                    </a>
                </li>
                <li class="clearfix">
                    <a href="http://www.sos.wv.gov/elections/Pages/Voting-Systems.aspx" target="_blank" class="module_list_padding">
                        Voting Methods in WV
                    </a>
                </li>
                <li class="clearfix">
                    <a href="http://www.sos.wv.gov/elections/forms/Documents/Forms%20-%20General/Request%20for%20Voter%20Registration%20Forms.PDF" target="_blank" class="module_list_padding">
                        Host a voter registration drive
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="stGrid column33 column2">
        <div class="excerptContainer">
            <h3>Recent</h3>
            <a class="twitter-timeline" data-height="450" data-tweet-limit="1" href="https://twitter.com/paulajean2018">Tweets by votecoribush</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="stGrid column33 column3 positionAnchor">
        <div class="excerptContainer imageButton backgroundDark">
            <a href="/collections/paula-jean-for-u-s-senate" target="_blank">
                <h3 class="verticalCenter">Get Your Own!</h3>
                <div class="imageContainer">
                        <img stratus-src="//cdn.sitetheory.io/nest001/2028-homeExcerptStore-xs.jpg" src="//cdn.sitetheory.io/nest001/2028-homeExcerptStore-xs.jpg">
                </div>
            </a>
        </div>
    </div>
</div>

<div id="candidateLandingEvents">
    <h3>Coming Up</h3>

    <div id="joinCall" class="fontSecondary">

        <md-list id="callList" layout-padding="" ng-cloak="" ng-controller="Api"
                 options='{"url":"https://api.brandnewcongress.org","controller":"/events", "onLoad": "fetch"}'>
            <!-- Header -->
            <div id="callListHeader">
                <div class="clearfix">
                    <div class="stGrid column15">&nbsp;</div>
                    <div class="stGrid column30"><h2>Event</h2></div>
                    <div class="stGrid column25"><h2>Location</h2></div>
                </div>
                <h2 hide-gt-xs="">Scheduled Calls</h2></div>
            <!-- Progress Bar -->

            <md-progress-linear ng-show="status == 'sending'"></md-progress-linear>
            <md-list-item ng-if="status == 'success' && !results.length" layout="row" layout-align="space-between center">
                <div class="error" flex>There are no scheduled events at this time.</div>
            </md-list-item>
            <!-- List Body with Repeating Rows -->
            <md-list-item layout="row" layout-align="space-between center" layout-wrap="" layout-xs="column"
                          ng-repeat="model in results">
                <div class="action" class="stGrid column15">
                    <md-button aria-label="join" class="md-fab md-primary" href="{{ model.url }}">
                        RSVP
                    </md-button>
                </div>
                <div class="info" class="stGrid column45">
                    <div class="eventTitle"><em>{{ model.title }}</em></div>
                    <div class="time">{{ model.startTime | date: 'MMM d @ h:mm a' : model.timeZoneOffset }} - <span ng-if="(model.startTime | date: 'MMM d') != (model.endTime | date: 'MMM d')" class="newDay" >{{ model.endTime | date: 'MMM d' : model.timeZoneOffset }}</span> {{ model.endTime | date : 'h:mm a' : model.timeZoneOffset }}</div>
                </div>
                <div class="location" class="stGrid column40">
                    <div class="locationName"><em><a ng-href="https://www.google.com/maps/place/{{ model.venue.address.address1 + ', ' + model.venue.address.city + ', ' + model.venue.address.state + ', ' + model.venue.address.zip }}" target="_blank">{{ model.venue.name }}</a></em></div>
                    <div class="locationAddress">{{ model.venue.address.address1 }}</div>
                    <div class="locationAddress locationAddress2" ng-if="model.venue.address.address2">{{ model.venue.address.address2 }}</div>
                    <div class="locationCity">{{ model.venue.address.city }} {{ model.venue.address.state }} {{ model.venue.address.zip }}</div>
                </div>
            </md-list-item>


        </md-list>
    </div>
</div>

<div id="candidateQuote" class="positionAnchor">
    <div id="quoteImage">
        <img stratus-src="//cdn.sitetheory.io/nest001/2030-quoteBackgroundPaula-xs.jpg" src="//cdn.sitetheory.io/nest001/2030-quoteBackgroundPaula-xs.jpg">
    </div>
    <div id="quote" class="verticalCenter">
        <p class="bodyLarge">“The industrial revolution was built on the backs of coal miners - our backs. We’ve provided power to America. It’s time to empower ourselves.”</p>
    </div>
</div>


<div id="endorsements" class="clearfix">
    <div class="stGrid column30">

    </div>
    <div class="stGrid column70">
        <div class="module_body">
            <div class="BNCmark"><img src="https://31c778c7521482f5a8d2-c35065887f454e8d4a2d033e01a0fefd.ssl.cf1.rackcdn.com/1257155-custom.png"></div>
            <h2>About Brand New Congress</h2>
            <div class="intro">
                <p>I am joining a team with hundreds of other candidates in a single campaign to rebuild our country. Together we can accomplish amazing things.</p>
            </div>
            <div class="planGraphic"><img src="https://31c778c7521482f5a8d2-c35065887f454e8d4a2d033e01a0fefd.ssl.cf1.rackcdn.com/1257161-custom.png"></div>
            <p class="body">BNC candidates like Paula Jean are completely funded by small donations from real Americans. As a Senator, she will be free to serve, rather than fundraise and meet with lobbyists. She will work for all Americans without pressure from corporations and special interests.</p>
            <p>&nbsp;</p>
            <p class="body"><b>It will take millions of dollars and thousands of volunteers to elect a corruption-free Congress, so consider supporting Paula Jean now. Every dollar matters.</b></p>
            <div id="bnc_area_cta" class="clearfix"><a href="https://secure.actblue.com/contribute/page/paulajean2018" target="_blank" class="btn btn_salmon btn_donate">Donate</a> <a href="https://brandnewcongress.org/volunteer?candidate=35825" target="_blank" class="btn btn_volunteer">Volunteer</a></div>
        </div>
    </div>
</div>






