<div class="clearfix">
    <div id="candidateHeaderLeft">
        <p class="smallLabel purpleText">
            The great state of <br>West Virginia
        </p>
        <div class="stateOutline positionAnchor">
            <div class="starPurple"></div>
            <div class="stateOutline positionAnchor">
                <img src="https://i.froala.com/download/0ada26f9aa73569f3dc9ad1fe377fc38c1a70cd4.png?1494474048">
            </div>
        </div>
    </div>
    <div id="candidateHeaderRight">
        <div class="socialMedia basicStyle clearfix">
            <ul class="listInline">
                <li class="candidateTwitter">
                    <a href="https://twitter.com/paulajean2018" target="_blank">
                    </a>
                </li>
                <li class="candidateFacebook">
                    <a href="https://www.facebook.com/paulajean2018" target="_blank">
                    </a>
                </li>
                <li class="candidateLinkedin">
                    <a href="" target="_blank">
                    </a>
                </li>
            </ul>
        </div>
        <div class="candidateHeaderContribute">
            <a class="btn btnContribute" href="" target="_blank">Support Paula Jean</a>
        </div>
    </div>
</div>

<div id="candidateHeaderBorder">
    <div class="borderThick">&nbsp;</div>
    <div class="borderDotted">&nbsp;</div>
</div>

<div class="candidateHero"><img src="https://i.froala.com/download/d747c03e801f086846a91cc41beb9ab047f87a3d.jpg?1494464715">
</div>