<div class="clearfix">
    <div id="candidateHeaderLeft">
        <p class="smallLabel purpleText">
            The great state of <br>West Virginia
        </p>
        <div class="stateOutline positionAnchor">
            <div class="stateOutline positionAnchor">
                <img src="https://i.froala.com/download/0ada26f9aa73569f3dc9ad1fe377fc38c1a70cd4.png?1494474048">
            </div>
        </div>
    </div>
    <div id="candidateHeaderRight">
        <div class="socialMedia basicStyle clearfix">
            <ul class="listInline">
                <li class="candidateTwitter">
                    <a href="https://twitter.com/paulajean2018" target="_blank">
                    </a>
                </li>
                <li class="candidateFacebook">
                    <a href="https://www.facebook.com/paulajean2018" target="_blank">
                    </a>
                </li>
                <li class="candidateLinkedin">
                    <a href="" target="_blank">
                    </a>
                </li>
            </ul>
        </div>
        <div class="candidateHeaderContribute">
            <a class="btn btnContribute" href="" target="_blank">Support Paula Jean</a>
        </div>
    </div>
</div>

<div id="candidateHeaderBorder">
    <div class="borderThick">&nbsp;</div>
    <div class="borderDotted">&nbsp;</div>
</div>

<div class="candidateHero"><img src="https://i.froala.com/download/d747c03e801f086846a91cc41beb9ab047f87a3d.jpg?1494464715">
</div>

<div class="candidateLandingJoin">
    {{ block('registrationForm') }}
</div>
<div id="welcome">
    <h2 id="welcomeTitle" class="fontPrimary">
        Time to Invest in Ourselves
    </h2>
    <p id="welcomebody" class="bodyLarge">
        West Virginia coal powered a nation. Now it’s time for West Virginia to invest in ourselves. I’m ready to fight for Medicare for all, universal pre-K, free tech schools and colleges, and a multi-billion dollar investment in West Virginian infrastructure, industry and innovation.
    </p>
</div>

<div class="sectionBorder backgroundDark"></div>

<div class="candidateExcerpts">
    <md-grid-list md-cols-gt-sm="3" md-cols-sm="2" md-cols-xs="1" md-gutter="8px" md-row-height="1:1">
        <md-grid-tile class="salmon column1" md-colspan="1" md-rowspan="1"> About </md-grid-tile>
        <md-grid-tile class="column2" md-colspan="1" md-rowspan="1"><img src="https://i.froala.com/download/c459f8320cd072aa242afb10207f8623b091c006.jpg?1494477622"></md-grid-tile>
        <md-grid-tile class="column3" md-colspan="1" md-rowspan="1"> About </md-grid-tile>
    </md-grid-list>
</div>
<div class="candidateExcerpts">
    <md-grid-list md-cols-gt-sm="3" md-cols-sm="2" md-cols-xs="1" md-gutter="20px" md-row-height="1:1">
        <md-grid-tile class="salmon column1" md-colspan="1" md-rowspan="1"> About </md-grid-tile>
        <md-grid-tile class="column2" md-colspan="1" md-rowspan="1"> About </md-grid-tile>
        <md-grid-tile class="column3" md-colspan="1" md-rowspan="1"> About </md-grid-tile>
    </md-grid-list>
</div>