{% extends '@SitetheoryStreamBundle/Landing-Candidate.html.twig' %}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/candidateLanding.css') }}">


{% endblock link %}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}


{#
NOTE: this should be converted to the Candidate Landing Stream
#}

{# Customizations for the Landing-Candidate.html.twig #}
{% block candidateLandingDonateUrl %}https://secure.actblue.com/contribute/page/votecoribush{% endblock candidateLandingDonateUrl %}
{% block candidateJoinText %}If you want me to fight in Congress for justice and a thriving St. Louis.{% endblock candidateJoinText %}
{% block candidateState %}Serving the people of <br>Missouri 1st{% endblock candidateState %}
{% block candidateStateImgUrl %}//cdn.sitetheory.io/nest001/2026-westVirginia-xs.png{% endblock candidateStateImgUrl %}
{% block candidateProfileId %}35723{% endblock candidateProfileId %}
{% block candidateOffice %}Congresswoman{% endblock candidateOffice %}
{% block candidateOfficeFull %}For United States Congress 2018{% endblock candidateOfficeFull %}
{% block candidateSocialMediaList %}
    <li class="candidateTwitter">
        <a href="https://twitter.com//voteCoriBush" target="_blank"> </a>
    </li>
    <li class="candidateFacebook">
        <a href="https://www.facebook.com/VoteCoriBush" target="_blank"> </a>
    </li>
{% endblock candidateSocialMediaList %}
{% block candidateLandingQuoteImgSrc %}//cdn.sitetheory.io/nest001/2036/quoteBackgroundImageCori-xs.jpg{% endblock candidateLandingQuoteImgSrc %}
{% block candidateLandingQuoteText %}&ldquo;I understand feeling overlooked by politicians and government. It’s my duty as a public servant to represent everyone and to fight for what is right until we see change.&rdquo;{% endblock candidateLandingQuoteText %}






