{% extends '@SitetheoryStreamBundle/Landing-Candidate.html.twig' %}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/candidateLanding.css') }}">


{% endblock link %}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}





{#
NOTE: this should be converted to the Candidate Landing Stream
#}
{# Customizations for the Landing-Candidate.html.twig #}
{% if custom is not defined %}
{% set custom = {
    'candidateSlug': (content.version.title | replace({' ': '-', '.': ''}) | lower),
    'joinSubscriptions': '',
    'classJoin': 'joinFormAlignRight',
    'twitterName': 'robb2018',
    'facebookName': 'robb2018',
    'linkedinName': '',
    'phone': '(479) 755-8603',
    'email': (content.version.title | replace({' ': '', '.': ''}) | lower),
    'state': 'Arkansas',
    'stateLong': 'The Great State of Arkansas',
    'district': 'AR-03',
    'districtLong': 'Arkansas 3rd',
    'office': 'Representative',
    'officeFull': 'For United States Congress 2018',
    'joinHeader': 'Join me to help return the Republican party to its roots.',
    'introTitle': "It&rsquo;s time to heal our nation and return the party to its roots.",
    'introText': "Today&rsquo;s Republican leadership has strayed far from their roots: Empowering people to live their lives freely and on their own terms, controlling costs and spending wisely, being good stewards of our national resources, lifting up our neighbors when they are in need -- and most importantly, having the integrity to be accountable for our actions.",
    'bioShort': 'Robb Ryerse has been a minister for over 20 years. Today he co-pastors Vintage Fellowship, nestled in Northwest Arkansas, with his wife Vanessa. Vintage Fellowship is a radically different kind of church that welcomes all people and is a member of',
    'quote': "How can a kid from Arkansas have any chance to become the next Sam Walton with the deck stacked so high against them?",
    'imageActionShot': '//cdn.sitetheory.io/nest001/2056-Robb%20Ryerse%20Landing%20Action%20Shot%202-xs.jpg',
    'imageModuleStore': '//cdn.sitetheory.io/nest001/2065/Robb%20Ryerse%20Landing%20Store%20Module-xs.jpg',
    'imageStateOutline': '//cdn.sitetheory.io/nest001/2066/AR-03%20Landing%20State%20Outline-xs.png',
    'imageQuoteBackground': '',
    'urlPlatform': '/platform',
    'urlDonate': 'https://www.crowdpac.com/campaigns/244359/robb-ryerse-for-congress',
    'urlStore': 'https://shop.brandnewcongress.org/products/robb-ryerse-2018-campaign-shirt'
}
%}
{% endif %}


{# CODE BLOCKS #}
{% block candidateAgendaList %}
    <li>Enact meaningful tax reform</li>
    <li>End generational poverty</li>
    <li>Provide healthcare access for all to protect the sanctity of human life</li>
    <li>Revive public service</li>
    <li>Ensure the right for everyone to live the American Dream</li>
{% endblock candidateAgendaList %}

{% block candidateHowToVoteList %}
    <li class="clearfix"><a class="module_list_padding" href="http://www.sos.arkansas.gov/elections/Pages/voterResources.aspx" target="_blank"> Register to Vote </a></li>
    <li class="clearfix"><a class="module_list_padding" href="https://www.voterview.ar-nova.org/VoterView/PollingPlaceSearch.do" target="_blank"> Find Your Polling Place </a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://www.sos.arkansas.gov/elections/Pages/votingMachines.aspx" target="_blank"> Voting Methods in Arkansas</a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://www.sos.arkansas.gov/elections/Documents/voter%20drive.pdf" target="_blank"> Host a Voter Registration Drive </a></li>
{% endblock candidateHowToVoteList %}




