{% extends '@SitetheoryStreamBundle/Landing-Candidate.html.twig' %}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/candidateLanding.css') }}">


{% endblock link %}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}





{#
NOTE: this should be converted to the Candidate Landing Stream
#}
{# Customizations for the Landing-Candidate.html.twig #}
{% if custom is not defined %}
{% set custom = {
    'candidateSlug': (content.version.title | replace({' ': '-', '.': ''}) | lower),
    'joinSubscriptions': 'justicedemocrats',
    'classJoin': 'joinFormAlignLeft',
    'twitterName': '',
    'facebookName': '',
    'linkedinName': '',
    'phone': '(979) 258-6829',
    'email': (content.version.title | replace({' ': '', '.': ''}) | lower),
    'state': 'Texas',
    'stateLong': 'The Great State of Texas',
    'district': 'TX-10',
    'districtLong': 'Texas 10th',
    'office': 'Representative',
    'officeFull': 'For United States Congress 2018',
    'joinHeader': 'Join me if you believe zero co-pay, zero deductible health care should be provided fo every American.',
    'introTitle': "Great jobs, living wages, and Medicare for All",
    'introText': "For years I’ve watched communities suffer the effects of rural poverty and lack of access to quality healthcare. Smart, capable, hard-working people strive to make a good life for their families, but they're hemmed in by lack of opportunity, and priced out of an education that could be their only path to a stable income. I want to change that.",
    'bioShort': "I’m a native son of Texas. Born in Nacogdoches, and raised in Canton, I worked my way through college and graduated from Stephen F. Austin State University. I worked a lot of different jobs along the way. I’ve waited tables, I’ve been a teacher...",
    'quote': "In the wealthiest and most powerful nation on the planet, with some of the most sophisticated medical facilities in the world, we have citizens reduced to pleading for charity to pay for their child’s medical treatment. This is wrong, and it must stop.",
    'imageActionShot': '//cdn.sitetheory.io/nest001/2161-actionShotStone-xs.jpg',
    'imageModuleStore': '//cdn.sitetheory.io/nest001/2159/RyanStone2018Shirt-xs.jpg',
    'imageStateOutline': '//cdn.sitetheory.io/nest001/2165-texas10th-xs.png',
    'imageQuoteBackground': '//cdn.sitetheory.io/nest001/2167-quoteBackgroundImageStone-xs.jpg',
    'urlPlatform': '/platform',
    'urlDonate': 'https://secure.actblue.com/donate/ryanstone2018',
    'urlStore': 'https://shop.brandnewcongress.org/products/ryan-stone-2018-campaign-shirt'
}
%}
{% endif %}


{# CODE BLOCKS #}
{% block candidateAgendaList %}
    <li>Get every American covered with Medicare for All</li>
    <li>Invest billions for infrastructure and new industries</li>
    <li>Create reliable jobs with living wages</li>
    <li>Ease tax burdens on families and small businesses</li>
    <li>Make Texas a leader in the Green Energy revolution</li>
{% endblock candidateAgendaList %}

{% block candidateHowToVoteList %}
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/register-to-vote" target="_blank"> Register to Vote </a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/voting/where.html" target="_blank"> Find Your Polling Place </a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/voting/how.html" target="_blank"> Voting Methods in Texas</a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://fairelectionsnetwork.com/wp-content/uploads/Texas-Guide-to-Voter-Registration-Drives.pdf" target="_blank"> Host a Voter Registration Drive </a></li>
{% endblock candidateHowToVoteList %}




