{% extends '@SitetheoryStreamBundle/Landing-Candidate.html.twig' %}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/candidateLanding.css') }}">


{% endblock link %}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}





{#
NOTE: this should be converted to the Candidate Landing Stream
#}
{# Customizations for the Landing-Candidate.html.twig #}
{% if custom is not defined %}
{% set custom = {
    'candidateSlug': (content.version.title | replace({' ': '-', '.': ''}) | lower),
    'joinSubscriptions': 'justicedemocrats',
    'classJoin': 'joinFormAlignLeft',
    'twitterName': 'plummerCD22',
    'facebookName': 'plummerCD22',
    'linkedinName': '',
    'phone': '(713) 999-1375',
    'email': (content.version.title | replace({' ': '', '.': ''}) | lower),
    'state': 'Texas',
    'stateLong': 'The Great State of Texas',
    'district': 'TX-22',
    'districtLong': 'Texas 22nd',
    'office': 'Representative',
    'officeFull': 'For United States Congress 2018',
    'joinHeader': 'Join me to lift the burden of health care off small businesses and people alike with Medicare for All.',
    'introTitle': "Thriving Small Business, Empowered Workers, Health Care for All",
    'introText': "For 20 years I’ve watched the middle class and working families get squeezed from every side by a political process that’s left their lives hanging in the balance. I’ve struggled as a small business owner to give my employees fair wages and good benefits. It’s time for policies that empower working families and small business owners -- the engine of the American economy.",
    'bioShort': "I grew up in Houston watching my father make a difference in people’s lives every day through his dental practice, and it was his example that inspired me to pursue my own career. Today, I am a woman on a mission to give people great...",
    'quote': "The heart of the American dream is the ability to control your own destiny. We need legislation that empowers people to innovate. A Medicare-for-All system that provides health care benefits to everyone would let small businesses thrive and give people the opportunity to take the risks to forge their own destinies.",
    'imageActionShot': '//cdn.sitetheory.io/nest001/2173-actionShotPlummer-xs.jpg',
    'imageModuleStore': '//cdn.sitetheory.io/nest001/2172-swagPlummer-xs.jpg',
    'imageStateOutline': '//cdn.sitetheory.io/nest001/2171-texas22nd-xs.png',
    'imageQuoteBackground': '//cdn.sitetheory.io/nest001/2175-quoteBackgroundPlummer-xs.jpg',
    'urlPlatform': '/platform',
    'urlDonate': 'https://letitiaplummer2018.com/Donate',
    'urlStore': 'https://shop.brandnewcongress.org/products/letitia-plummer-2018-campaign-shirt'
}
%}
{% endif %}


{# CODE BLOCKS #}
{% block candidateAgendaList %}
    <li>Help small businesses thrive: Invest billions to create new industries and small businesses here</li>
    <li>Provide Medicare for all: Healthcare access and affordability</li>
    <li>Offer tuition-free education: Increase Community college, tech school and tuition free public colleges would change the future of the community.</li>
{% endblock candidateAgendaList %}

{% block candidateHowToVoteList %}
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/register-to-vote/" target="_blank"> Register to Vote </a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/voting/where.html" target="_blank"> Find Your Polling Place </a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/voting/how.html" target="_blank"> Voting Methods in Texas</a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://fairelectionsnetwork.com/wp-content/uploads/Texas-Guide-to-Voter-Registration-Drives.pdf" target="_blank"> Host a Voter Registration Drive </a></li>
{% endblock candidateHowToVoteList %}




