{% extends '@SitetheoryStreamBundle/Landing-Candidate.html.twig' %}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/candidateLanding.css') }}">


{% endblock link %}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}





{#
NOTE: this should be converted to the Candidate Landing Stream
#}
{# Customizations for the Landing-Candidate.html.twig #}
{% if custom is not defined %}
{% set custom = {
    'candidateSlug': (content.version.title | replace({' ': '-', '.': ''}) | lower),
    'joinSubscriptions': '',
    'classJoin': 'joinFormAlignLeft',
    'twitterName': 'danny_ellyson',
    'facebookName': 'dannyforcongress',
    'linkedinName': '',
    'phone': '(229) 798-4971',
    'email': (content.version.title | replace({' ': '', '.': ''}) | lower),
    'state': 'Georgia',
    'stateLong': 'The Great State of Georgia',
    'district': 'GA-08',
    'districtLong': 'Georgia 8th',
    'office': 'Representative',
    'officeFull': 'For United States Congress 2018',
    'joinHeader': 'Join me to invest billions in new industry, creating steady jobs with good wages for GA-08',
    'introTitle': "Liberty, Opportunity, and Justice for all",
    'introText': "Throughout my military and private sector career, I&rsquo;ve gotten to know individuals in many counties across Georgia and see firsthand their opportunities, as well as their lack of them. Here in the 8th district&mdash;and throughout our state&mdash;we see tremendous wealth and growth, but far too little of it finds its way to ordinary, hard-working citizens. Now I’m on a mission to create a Brand New Congress that will change that.",
    'bioShort': "I'm an Army veteran, a small business owner, and Independent Republican. I've served in Iraq, worked as a recruiter for the National Guard, a career counselor, and I've worked in the private sector. Today I run a small business with my husband, Nate.",
    'quote': "I believe in the foundation of democracy&mdash;liberty, opportunity, and justice&mdash;without which our republic wouldn't exist.",
    'imageActionShot': '//cdn.sitetheory.io/nest001/2152-homeImageModuleEllyson-xs.jpg',
    'imageModuleStore': '//cdn.sitetheory.io/nest001/2147-storeShirtDannyEllyson-xs.jpg',
    'imageStateOutline': '//cdn.sitetheory.io/nest001/2144/georgia8th-xs.png',
    'imageQuoteBackground': '//cdn.sitetheory.io/nest001/2153-quoteBackgroundImageEllyson-xs.jpg',
    'urlPlatform': '/platform',
    'urlDonate': 'https://dannyellyson.com/donate',
    'urlStore': 'https://shop.brandnewcongress.org/products/danny-ellyson-2018-campaign-shirt'
}
%}
{% endif %}


{# CODE BLOCKS #}
{% block candidateAgendaList %}
    <li>Zero-copay, zero-deductible healthcare for all</li>
    <li>Invest billions in industry for rural jobs</li>
    <li>Get money out of politics</li>
    <li>Push renewables for energy independence</li>
    <li>Tax relief for family farmers</li>
    <li>Criminal Justice Reform</li>
    <li>End price gouging on prescriptions</li>
{% endblock candidateAgendaList %}

{% block candidateHowToVoteList %}
    <li class="clearfix"><a class="module_list_padding" href="https://registertovote.sos.ga.gov/GAOLVR/welcome.do" target="_blank"> Register to Vote </a></li>
    <li class="clearfix"><a class="module_list_padding" href="https://www.vote.org/state/georgia" target="_blank">Extra voting info & deadlines</a></li>
    <li class="clearfix"><a class="module_list_padding" href="https://www.mvp.sos.ga.gov/MVP/mvp.do" target="_blank">Check your voter registration</a></li>
    <li class="clearfix"><a class="module_list_padding" href="https://www.vote.org/absentee-ballot/georgia/" target="_blank">Get an absentee ballot</a></li>
{% endblock candidateHowToVoteList %}




