{% extends '@SitetheoryStreamBundle/Landing-Candidate.html.twig' %}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/candidateLanding.css') }}">


{% endblock link %}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}





{#
NOTE: this should be converted to the Candidate Landing Stream
#}
{# Customizations for the Landing-Candidate.html.twig #}
{% if custom is not defined %}
{% set custom = {
    'candidateSlug': (content.version.title | replace({' ': '-', '.': ''}) | lower),
    'joinSubscriptions': '',
    'classJoin': 'joinFormAlignLeft',
    'twitterName': 'sarahsmith2018',
    'facebookName': 'Sarah-Smith-431368643885239',
    'linkedinName': '',
    'phone': '(425) 598-0319',
    'email': (content.version.title | replace({' ': '', '.': ''}) | lower),
    'state': 'Washington',
    'stateLong': 'The Great State of Washington',
    'district': 'WA-09',
    'districtLong': 'Washington 9th',
    'office': 'Representative',
    'officeFull': 'For United States Congress 2018',
    'joinHeader': 'Join me to bring new industry, affordable housing, and a living wage to WA-09.',
    'introTitle': "Building a Brand New Congress to represent Real People",
    'introText': "A congressperson represents their people&mdash;at least, they’re supposed to. Congress today works to protect the bottom line of powerful multinational corporations, not people like us. My circumstances, my sentiments and my values are shared all around me in the 9th District. I believe I am the person who can represent the loud, resistant, beacon of social change that is the 9th. I will fight for social and economic change against a system rigged for normal people like us to fail.",
    'bioShort': 'I am the middle of three daughters, born to hardworking, compassionate parents who sacrificed everything for us to have a good life. My dad grew up as part of the Greatest Generation in London, collecting metal scraps from bombed out buildings in order to survive...',
    'quote': "It’s time for regular people to be represented by regular people. Congress can only serve America when it stands as a true reflection of Americans.",
    'imageActionShot': '//cdn.sitetheory.io/nest001/2138-homeImageModule-xs.jpg',
    'imageModuleStore': '//cdn.sitetheory.io/nest001/2133-SarahSmith2018Shirt-xs.jpg',
    'imageStateOutline': '//cdn.sitetheory.io/nest001/2136-washington9th-xs.png',
    'imageQuoteBackground': '//cdn.sitetheory.io/nest001/2141-quoteBackgroundImage-xs.jpg',
    'urlPlatform': '/platform',
    'urlDonate': 'https://secure.actblue.com/donate/sarahsmith2018',
    'urlStore': 'https://shop.brandnewcongress.org/collections/candidate-collections/products/sarah-smith-2018-campaign-shirt'
}
%}
{% endif %}


{# CODE BLOCKS #}
{% block candidateAgendaList %}
    <li>Invest in new industries with living wages</li>
    <li>Make education accessible with tuition free public college and trade school</li>
    <li>Fight for Medicare for All</li>
    <li>End the War on Drugs and the School to Prison pipeline</li>
    <li>Lead the Green Energy revolution</li>
{% endblock candidateAgendaList %}

{% block candidateHowToVoteList %}
    <li class="clearfix"><a class="module_list_padding" href="https://weiapplets.sos.wa.gov/MyVoteOLVR/MyVoteOLVR" target="_blank"> Register to Vote </a></li>
    <li class="clearfix"><a class="module_list_padding" href="https://www.sos.wa.gov/elections/general-election-faqs.aspx" target="_blank">Washington Voter FAQ</a></li>
    <li class="clearfix"><a class="module_list_padding" href="https://weiapplets.sos.wa.gov/MyVote/#/login" target="_blank">Check Your Voting Status</a></li>
    <li class="clearfix"><a class="module_list_padding" href="https://www.sos.wa.gov/elections/voters/" target="_blank">Voting Resources</a></li>
{% endblock candidateHowToVoteList %}




