{% extends 'SitetheoryStreamBundle::Landing.html.twig' %}



{#
NOTE: this should be converted to the Candidate Landing Stream
#}

{% block contentType %}
    <div>Candidate Landing Page...</div>
{% endblock contentType %}


