{% extends '@SitetheoryStreamBundle/Landing-Candidate.html.twig' %}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/candidateLanding.css') }}">


{% endblock link %}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}


{#
NOTE: this should be converted to the Candidate Landing Stream
#}

{# Customizations for the Landing-Candidate.html.twig #}
{% if custom is not defined %}
    {% set custom = {
    'candidateSlug': (content.version.title | replace({" ": ""}) | lower),
    'joinSubscriptions': 'justicedemocrats',
    'classJoin': 'joinFormAlignLeft',
    'twitterName': 'adrbell',
    'facebookName': 'Adrienne-Bell-456220508063053',
    'linkedinName': '',
    'state': 'Texas',
    'stateLong': 'Great State of Texas',
    'district': 'TX-14',
    'districtLong': 'Texas 14th',
    'office': 'Representative',
    'officeFull': 'For United States Congress 2018',
    'joinHeader': "Join me to rebuild TX-14 with good jobs and health care for all.",
    'introTitle': "Accessible health care, Good jobs, and an education.",
    'introText': "Texas has one of the most robust economies in the country -- even the world. There’s no reason the 14th shouldn’t be an economic leader. Health care, a good education, and the opportunity to succeed; that’s what people deserve and it’s what Adrienne Bell will fight for as your Representative.",
    'bioShort': "Native Houstonian Adrienne Bell is a mother and grandmother who rose from humble beginnings to become her family’s first generation college graduate. She went on to obtain a Masters degree and is currently pursuing a PhD in Education Administration",
    'quote': "At the end of the day, you can't work if you're sick and can't afford treatment. That's why I believe healthcare is a human right. I know Texas is ready for Medicare for All.",
    'imageActionShot': '//cdn.sitetheory.io/nest001/2064/Adrienne%20Bell%20Landing%20Action%20Shot-xs.jpg',
    'imageModuleStore': '//cdn.sitetheory.io/nest001/2063/Adrienne%20Bell%20Landing%20Store%20Module-xs.jpg',
    'imageStateOutline': '//cdn.sitetheory.io/nest001/2074/TX-14%20Landing%20State%20Outline-xs.png',
    'imageQuoteBackground': '',
    'urlDonate': 'https://secure.actblue.com/contribute/page/voteadriennebell',
    'urlStore': 'https://shop.brandnewcongress.org/collections/tshirts/products/adrienne-bell-2018-campaign-shirt'
    }
    %}
{% endif %}



{# CODE BLOCKS #}
{% block candidateAgendaList %}
    <li>Provide Federal grants to revitalize Galveston and encourage small business growth across entire district.</li>
    <li>Increase funding for social workers.</li>
    <li>Reform the criminal justice system.</li>
    <li>Improve the education system with the input and experience of educators.</li>
    <li>Enhance standards in American classrooms by ending high stakes testing.</li>
{% endblock candidateAgendaList %}

{% block candidateHowToVoteList %}
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/register-to-vote" target="_blank"> Register to Vote </a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/voting/where.html" target="_blank"> Find Your Polling Place </a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://www.votetexas.gov/voting/how.html" target="_blank"> Voting Methods in Texas</a></li>
    <li class="clearfix"><a class="module_list_padding" href="http://fairelectionsnetwork.com/wp-content/uploads/Texas-Guide-to-Voter-Registration-Drives.pdf" target="_blank"> Host a Voter Registration Drive </a></li>
{% endblock candidateHowToVoteList %}






