


/* PROFILES LIST PAGE */

#candidateListPage #callToAction .intro {
    margin-bottom: 60px;
    max-width: 600px;
}




/* General profile styling */

.profileList h1,
.profileDetails h1 {
    margin: 0 0 26px;
    text-align: center;
    font-size: 35px;
}
.profileList .pullout,
.profileDetails .pullout {
    margin-bottom: 60px;
    max-width: 920px;
}
.profileImage img {
    width: 100%;
}

/* Profile List */

#profileList {
    margin: 0 -2%;
    padding-top: 60px;
}
.profileContainer {
    position: relative;
}
.profileItem {
    margin: 0 4%;
    padding-bottom: 120px;
}
.profileList .profileImage {
    float: left;
    max-width: 50%;
    margin: 0 5% 22px 0;
}
.profileList h2 {
    margin: 0 0 12px;
    font-size: 18px;
}
.profileList h4 {
    margin-bottom: 26px;
}
.profileList .profileBody {
    margin-bottom: 22px;
    padding-right: 3%;
}
.profileItem .readMore {
    display: block;
}
.profileExtra {
    position: absolute;
    right: 4%;
    bottom: 80px;
    left: 4%;
    padding: 5px 12px;
    color: #FFF;
}
.profileExtra .starText {
    font-size: 18px;
    color: #FFF;
    letter-spacing: .08em;
}



@media (max-width: 1200px) {
    .profileList .profileImage {
        max-width: 40%;
    }
    .profileBody {
        font-size: 14px;
    }
    .profileItem .readMore {
        display: inline;
    }
}
@media (min-width: 960px) and (max-width: 1000px) {
    .profileItem {
        padding-bottom: 112px;
    }
    .profileList .profileImage {
        max-width: 40%;
    }
    #profileList h4 {
        margin-bottom: 16px;
    }
    .profileList .profileBody {
        font-size: 13px;
    }
}
@media (max-width: 959px) {
    #profileList {
        margin: 0 -5%;
    }
    .profileItem {
        margin: 0 10%;
        text-align: center;
    }
    .profileList .profileImage {
        float: none;
        margin: 0 0 30px 0;
        max-width: 100%;
    }
    .profileList .profileBody {
        font-size: 15px;
    }
    .profileExtra {
        right: 10%;
        left: 10%;
    }
}
@media (max-width: 600px) {
    #profileList {
        margin: 0;
    }
    .profileItem {
        margin: 0;
        padding-bottom: 45px;
    }
    .profileItem .readMore {
        display: block;
        margin-top: 20px;
    }
    .profileExtra {
        position: relative;
        right: inherit;
        bottom: inherit;
        left: inherit;
        margin-bottom: 16px;
    }
}


/* PROFILE DETAILS */

#sidebarPromoArea {
    display: none;
}
.contentProfile.profileDetails {
    margin-top: 20px;
}
.contentHeader.profileDetails p {
    margin: 0;
}
.profileDetails .borderDashedBold {
    margin: 60px 0;
    background-position: left center;
}
.profileDetails p a {
    color: #FF7A65;
}
.profileDetails p a:hover {
    color: #000;
}
.profileDetails h1 {
    margin: -4px 0 12px;
    text-align: left;
}
.profileDetails h3 {
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: .05em;
}
.profileDetails h4 {
    font-size: 11px;
}
.profileDetails h4.profilePosition {
    margin-bottom: 40px;
}
.profileDetails .profileImageContainer {
    float: left;
    width: 45%;
    margin: 0 8% 50px 0;
}
.profileDetails .profileLocation {
    width: 100%;
    text-align: center;
}
.profileDetails .profileLocation .colorBox {
    margin: 0 -6px 14px;
}
.profileDetails .profileLocation p {
    display: table;
    margin: 5px auto;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: .05em;
    color: #FFF;
    text-transform: uppercase;
}
.profileDetails .profileLocation p .starLeft{
    background-position: left 5px;
}
.profileDetails .profileLocation p .starRight {
    padding: 0 20px;
    background-position: right 5px;
}


/* Call to Action Area */

.profileDetails .candidateDetailsJoin,
.profileDetails .candidateCallToAction {
    text-align: center;
}
@media (min-width: 960px) {
    .profileDetails .candidateDetailsJoin {
        padding-right: 8%;

    }
    .profileDetails .candidateCallToAction {
        padding-left: 8%;

    }
}
.profileDetails .candidateDetailsJoin p,
.profileDetails .candidateCallToAction p {
    margin: 20px auto 30px;
    max-width: 380px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.profileDetails .candidateCallToAction p {
    margin-bottom: 50px;
}
.profileDetails .candidateDetailsJoin .btn,
.profileDetails .candidateCallToAction .btn {
    display: block;
    margin: 0 auto;
    padding: 16px 0;
    width: 285px;
}
.profileDetails .candidateCallToAction .btn.btnSalmon {
    margin-bottom: 30px;
}
.joinForm md-input-container {
    width: 280px;
}
@media (min-width: 960px) {
    .candidateDetailsJoin .listInline li{
        margin: 0 8px;
    }
}
@media (max-width:959px) {
    .profileDetails .profileImage {
        float: left;
        margin: 0 5% 20px 0;
        width: 50%;
    }
    .candidateDetailsJoin.joinForm {
        margin: 50px 0 0 0;
    }
    .candidateDetailsJoin md-input-container {
        margin: 10px 0;
    }
}
@media (max-width:600px) {
    .profileDetails .profileImage {
        float: none;
        margin: 0 0 30px 0;
        width: 100%;
    }
}
